In [1]:
import pandas as pd

In [2]:
import numpy as np
%matplotlib inline

In [3]:
df1 = pd.read_csv('s133UN01qyLD (2).csv')

In [4]:
df1

        YEAR  STATEFIP     INCTOT
0       1980        23      18919
1       1980        23       8203
2       1980        23      13680
3       1980        23       2802
4       1980        23          0
...      ...       ...        ...
688179  1983        15  999999999
688180  1983        15      35002
688181  1983        15       8502
688182  1983        15          0
688183  1983        15  999999999

[688184 rows x 3 columns]

In [5]:
df2 = pd.read_csv('s165u1u4BUbp (1).csv')

In [6]:
df2

        YEAR  STATEFIP   RACE
0       1980      23.0  100.0
1       1980      23.0  100.0
2       1980      23.0  100.0
3       1980      23.0  100.0
4       1980      23.0  100.0
...      ...       ...    ...
652864  1983       8.0  100.0
652865  1983       8.0  100.0
652866  1983       8.0  100.0
652867  1983       8.0  700.0
652868  1983       NaN    NaN

[652869 rows x 3 columns]

In [7]:
countzero = 0
for x in df1["INCTOT"]:
    if x == 0:
        countzero = countzero+1
print(countzero)
countzero = 0
for x in df2["RACE"]:
    if x == (100 or 200 or 700):
        countzero = countzero+1
print(countzero)

44076
567838

In [8]:
df2["RACE"].unique()

array([100., 700., 200.,  nan])

In [9]:
counttenmillion = 0
for x in df1["INCTOT"]:
    if 1000000 < x:
        counttenmillion = counttenmillion+1
print(counttenmillion)
countmillion = 0
for x in df1["INCTOT"]:
    if 999999 < x:
        countmillion = countmillion+1
print(countmillion)
countlakh = 0
for x in df1["INCTOT"]:
    if 99999 < x:
        countlakh = countlakh+1
print(countlakh)
counttenthousand = 0
for x in df1["INCTOT"]:
    if 9999 < x:
        counttenthousand = counttenthousand+1
print(counttenthousand)
countthousand = 0
for x in df1["INCTOT"]:
    if 999 < x:
        countthousand = countthousand+1
print(countthousand)

164506
164506
164683
368763
589688

In [10]:
df1.shape

(688184, 3)

In [11]:
df2.shape

(652869, 3)

In [12]:
df1["INCTOT"]

0             18919
1              8203
2             13680
3              2802
4                 0
            ...
688179    999999999
688180        35002
688181         8502
688182            0
688183    999999999
Name: INCTOT, Length: 688184, dtype: int64

In [13]:
df2.RACE

0         100.0
1         100.0
2         100.0
3         100.0
4         100.0
          ...
652864    100.0
652865    100.0
652866    100.0
652867    700.0
652868      NaN
Name: RACE, Length: 652869, dtype: float64

In [14]:
i1 = df1[((df1.INCTOT>0) & (df1.INCTOT<1000000))].index

In [15]:
df3 = pd.DataFrame(data=df1, index = i1)

In [16]:
df3

        YEAR  STATEFIP  INCTOT
0       1980        23   18919
1       1980        23    8203
2       1980        23   13680
3       1980        23    2802
6       1980        23   16595
...      ...       ...     ...
688175  1983        15     450
688177  1983        15   33011
688178  1983        15    3338
688180  1983        15   35002
688181  1983        15    8502

[476937 rows x 3 columns]

In [17]:
dfinc1980 = df1[df1["YEAR"] == 1980]
dfinc1981 = df1[df1["YEAR"] == 1981]
dfinc1982 = df1[df1["YEAR"] == 1982]
dfinc1983 = df1[df1["YEAR"] == 1983]
dfrace1980 = df2[df2["YEAR"] == 1980]
dfrace1981 = df2[df2["YEAR"] == 1981]
dfrace1982 = df2[df2["YEAR"] == 1982]
dfrace1983 = df2[df2["YEAR"] == 1983]

In [18]:
dfinc1980["STATEFIP"].unique()

array([23, 33, 50, 25, 44,  9, 36, 34, 42, 39, 18, 17, 26, 55, 27, 19, 29,
       38, 46, 31, 20, 10, 24, 11, 51, 54, 37, 45, 13, 12, 21, 47,  1, 28,
        5, 22, 40, 48, 30, 16, 56,  8, 35,  4, 49, 32, 53, 41,  6,  2, 15])

In [19]:
dfinc1980.sort_values(by="STATEFIP")

        YEAR  STATEFIP  INCTOT
112465  1980         1     600
112632  1980         1    3435
112633  1980         1    2496
112634  1980         1    1064
112635  1980         1    1640
...      ...       ...     ...
140151  1980        56   17000
140150  1980        56   12394
140149  1980        56   15054
140201  1980        56    4001
138610  1980        56    7756

[181488 rows x 3 columns]

In [20]:
dfinc1981.sort_values(by="STATEFIP")

        YEAR  STATEFIP     INCTOT
293233  1981         1  999999999
293362  1981         1       2680
293363  1981         1      18000
293364  1981         1          0
293365  1981         1  999999999
...      ...       ...        ...
320672  1981        56       4093
320673  1981        56       3965
320674  1981        56  999999999
320660  1981        56       1748
319217  1981        56       1775

[181358 rows x 3 columns]

In [21]:
dfinc1982.sort_values(by="STATEFIP")

        YEAR  STATEFIP     INCTOT
464735  1982         1      15600
464795  1982         1         75
464796  1982         1      26000
464797  1982         1  999999999
464798  1982         1       3511
...      ...       ...        ...
488960  1982        56  999999999
488961  1982        56  999999999
488962  1982        56       3883
488953  1982        56      32000
487965  1982        56       2021

[162703 rows x 3 columns]

In [22]:
dfinc1983.sort_values(by="STATEFIP")

        YEAR  STATEFIP     INCTOT
627498  1983         1       1450
627521  1983         1          0
627522  1983         1       2755
627523  1983         1          0
627524  1983         1  999999999
...      ...       ...        ...
651573  1983        56       4026
651574  1983        56      21400
651575  1983        56        300
651553  1983        56       2932
650530  1983        56       8205

[162635 rows x 3 columns]

In [23]:
dfrace1980.sort_values(by="STATEFIP")

        YEAR  STATEFIP   RACE
112465  1980       1.0  200.0
112632  1980       1.0  100.0
112633  1980       1.0  200.0
112634  1980       1.0  200.0
112635  1980       1.0  200.0
...      ...       ...    ...
140151  1980      56.0  100.0
140150  1980      56.0  100.0
140149  1980      56.0  100.0
140201  1980      56.0  100.0
138610  1980      56.0  100.0

[181488 rows x 3 columns]

In [24]:
dfrace1981.sort_values(by="STATEFIP")

        YEAR  STATEFIP   RACE
293233  1981       1.0  200.0
293362  1981       1.0  100.0
293363  1981       1.0  100.0
293364  1981       1.0  100.0
293365  1981       1.0  100.0
...      ...       ...    ...
320672  1981      56.0  100.0
320673  1981      56.0  100.0
320674  1981      56.0  100.0
320660  1981      56.0  100.0
319217  1981      56.0  100.0

[181358 rows x 3 columns]

In [25]:
dfrace1982.sort_values(by="STATEFIP")

        YEAR  STATEFIP   RACE
464735  1982       1.0  100.0
464795  1982       1.0  100.0
464796  1982       1.0  100.0
464797  1982       1.0  100.0
464798  1982       1.0  200.0
...      ...       ...    ...
488960  1982      56.0  100.0
488961  1982      56.0  100.0
488962  1982      56.0  100.0
488953  1982      56.0  100.0
487965  1982      56.0  100.0

[162703 rows x 3 columns]

In [26]:
dfrace1983.sort_values(by="STATEFIP")

        YEAR  STATEFIP   RACE
628271  1983       1.0  100.0
627519  1983       1.0  100.0
627520  1983       1.0  100.0
627521  1983       1.0  100.0
627522  1983       1.0  100.0
...      ...       ...    ...
651311  1983      56.0  100.0
651312  1983      56.0  100.0
651296  1983      56.0  100.0
650820  1983      56.0  100.0
652868  1983       NaN    NaN

[127320 rows x 3 columns]

In [27]:
dfinc1980

        YEAR  STATEFIP     INCTOT
0       1980        23      18919
1       1980        23       8203
2       1980        23      13680
3       1980        23       2802
4       1980        23          0
...      ...       ...        ...
181483  1980        15       2800
181484  1980        15  999999999
181485  1980        15  999999999
181486  1980        15      12752
181487  1980        15         41

[181488 rows x 3 columns]

In [28]:
dfinc1980Alabama = dfinc1980[dfinc1980["STATEFIP"] == 1]
dfinc1980Alaska = dfinc1980[dfinc1980["STATEFIP"] == 2]
dfinc1980Arizona = dfinc1980[dfinc1980["STATEFIP"] == 4]
dfinc1980Arkansas = dfinc1980[dfinc1980["STATEFIP"] == 5]
dfinc1980California = dfinc1980[dfinc1980["STATEFIP"] == 6]
dfinc1980Colorado = dfinc1980[dfinc1980["STATEFIP"] == 8]
dfinc1980Connecticut = dfinc1980[dfinc1980["STATEFIP"] == 9]
dfinc1980Delaware = dfinc1980[dfinc1980["STATEFIP"] == 10]
dfinc1980DC = dfinc1980[dfinc1980["STATEFIP"] == 11]
dfinc1980Florida = dfinc1980[dfinc1980["STATEFIP"] == 12]
dfinc1980Georgia = dfinc1980[dfinc1980["STATEFIP"] == 13]
dfinc1980Hawaii = dfinc1980[dfinc1980["STATEFIP"] == 15]
dfinc1980Idaho = dfinc1980[dfinc1980["STATEFIP"] == 16]
dfinc1980Illinois = dfinc1980[dfinc1980["STATEFIP"] == 17]
dfinc1980Indiana = dfinc1980[dfinc1980["STATEFIP"] == 18]
dfinc1980Iowa = dfinc1980[dfinc1980["STATEFIP"] == 19]
dfinc1980Kansas = dfinc1980[dfinc1980["STATEFIP"] == 20]
dfinc1980Kentucky = dfinc1980[dfinc1980["STATEFIP"] == 21]
dfinc1980Louisiana = dfinc1980[dfinc1980["STATEFIP"] == 22]
dfinc1980Maine = dfinc1980[dfinc1980["STATEFIP"] == 23]
dfinc1980Maryland = dfinc1980[dfinc1980["STATEFIP"] == 24]
dfinc1980Maryland = dfinc1980[dfinc1980["STATEFIP"] == 25]
dfinc1980Michigan = dfinc1980[dfinc1980["STATEFIP"] == 26]
dfinc1980Minnesota = dfinc1980[dfinc1980["STATEFIP"] == 27]
dfinc1980Mississippi = dfinc1980[dfinc1980["STATEFIP"] == 28]
dfinc1980Missouri = dfinc1980[dfinc1980["STATEFIP"] == 29]
dfinc1980Montana = dfinc1980[dfinc1980["STATEFIP"] == 30]
dfinc1980Nebraska = dfinc1980[dfinc1980["STATEFIP"] == 31]
dfinc1980Nevada = dfinc1980[dfinc1980["STATEFIP"] == 32]
dfinc1980NewHampshire = dfinc1980[dfinc1980["STATEFIP"] == 33]
dfinc1980NewJersey = dfinc1980[dfinc1980["STATEFIP"] == 34]
dfinc1980NewMexico = dfinc1980[dfinc1980["STATEFIP"] == 35]
dfinc1980NewYork = dfinc1980[dfinc1980["STATEFIP"] == 36]
dfinc1980NorthCarolina = dfinc1980[dfinc1980["STATEFIP"] == 37]
dfinc1980NorthDakota = dfinc1980[dfinc1980["STATEFIP"] == 38]
dfinc1980Ohio = dfinc1980[dfinc1980["STATEFIP"] == 39]
dfinc1980Oklahoma = dfinc1980[dfinc1980["STATEFIP"] == 40]
dfinc1980Oregon = dfinc1980[dfinc1980["STATEFIP"] == 41]
dfinc1980Pennsylvania = dfinc1980[dfinc1980["STATEFIP"] == 42]
dfinc1980RhodeIsland = dfinc1980[dfinc1980["STATEFIP"] == 44]
dfinc1980SouthCarolina = dfinc1980[dfinc1980["STATEFIP"] == 45]
dfinc1980SouthDakota = dfinc1980[dfinc1980["STATEFIP"] == 46]
dfinc1980Tennessee = dfinc1980[dfinc1980["STATEFIP"] == 47]
dfinc1980Texas = dfinc1980[dfinc1980["STATEFIP"] == 48]
dfinc1980Utah = dfinc1980[dfinc1980["STATEFIP"] == 49]
dfinc1980Vermont = dfinc1980[dfinc1980["STATEFIP"] == 50]
dfinc1980Virginia = dfinc1980[dfinc1980["STATEFIP"] == 51]
dfinc1980Washington = dfinc1980[dfinc1980["STATEFIP"] == 53]
dfinc1980WestVirginia = dfinc1980[dfinc1980["STATEFIP"] == 54]
dfinc1980Wisconsin = dfinc1980[dfinc1980["STATEFIP"] == 55]
dfinc1980Wyoming = dfinc1980[dfinc1980["STATEFIP"] == 56]
dfinc1981Alabama = dfinc1981[dfinc1981["STATEFIP"] == 1]
dfinc1981Alaska = dfinc1981[dfinc1981["STATEFIP"] == 2]
dfinc1981Arizona = dfinc1981[dfinc1981["STATEFIP"] == 4]
dfinc1981Arkansas = dfinc1981[dfinc1981["STATEFIP"] == 5]
dfinc1981California = dfinc1981[dfinc1981["STATEFIP"] == 6]
dfinc1981Colorado = dfinc1981[dfinc1981["STATEFIP"] == 8]
dfinc1981Connecticut = dfinc1981[dfinc1981["STATEFIP"] == 9]
dfinc1981Delaware = dfinc1981[dfinc1981["STATEFIP"] == 10]
dfinc1981DC = dfinc1981[dfinc1981["STATEFIP"] == 11]
dfinc1981Florida = dfinc1981[dfinc1981["STATEFIP"] == 12]
dfinc1981Georgia = dfinc1981[dfinc1981["STATEFIP"] == 13]
dfinc1981Hawaii = dfinc1981[dfinc1981["STATEFIP"] == 15]
dfinc1981Idaho = dfinc1981[dfinc1981["STATEFIP"] == 16]
dfinc1981Illinois = dfinc1981[dfinc1981["STATEFIP"] == 17]
dfinc1981Indiana = dfinc1981[dfinc1981["STATEFIP"] == 18]
dfinc1981Iowa = dfinc1981[dfinc1981["STATEFIP"] == 19]
dfinc1981Kansas = dfinc1981[dfinc1981["STATEFIP"] == 20]
dfinc1981Kentucky = dfinc1981[dfinc1981["STATEFIP"] == 21]
dfinc1981Louisiana = dfinc1981[dfinc1981["STATEFIP"] == 22]
dfinc1981Maine = dfinc1981[dfinc1981["STATEFIP"] == 23]
dfinc1981Maryland = dfinc1981[dfinc1981["STATEFIP"] == 24]
dfinc1981Maryland = dfinc1981[dfinc1981["STATEFIP"] == 25]
dfinc1981Michigan = dfinc1981[dfinc1981["STATEFIP"] == 26]
dfinc1981Minnesota = dfinc1981[dfinc1981["STATEFIP"] == 27]
dfinc1981Mississippi = dfinc1981[dfinc1981["STATEFIP"] == 28]
dfinc1981Missouri = dfinc1981[dfinc1981["STATEFIP"] == 29]
dfinc1981Montana = dfinc1981[dfinc1981["STATEFIP"] == 30]
dfinc1981Nebraska = dfinc1981[dfinc1981["STATEFIP"] == 31]
dfinc1981Nevada = dfinc1981[dfinc1981["STATEFIP"] == 32]
dfinc1981NewHampshire = dfinc1981[dfinc1981["STATEFIP"] == 33]
dfinc1981NewJersey = dfinc1981[dfinc1981["STATEFIP"] == 34]
dfinc1981NewMexico = dfinc1981[dfinc1981["STATEFIP"] == 35]
dfinc1981NewYork = dfinc1981[dfinc1981["STATEFIP"] == 36]
dfinc1981NorthCarolina = dfinc1981[dfinc1981["STATEFIP"] == 37]
dfinc1981NorthDakota = dfinc1981[dfinc1981["STATEFIP"] == 38]
dfinc1981Ohio = dfinc1981[dfinc1981["STATEFIP"] == 39]
dfinc1981Oklahoma = dfinc1981[dfinc1981["STATEFIP"] == 40]
dfinc1981Oregon = dfinc1981[dfinc1981["STATEFIP"] == 41]
dfinc1981Pennsylvania = dfinc1981[dfinc1981["STATEFIP"] == 42]
dfinc1981RhodeIsland = dfinc1981[dfinc1981["STATEFIP"] == 44]
dfinc1981SouthCarolina = dfinc1981[dfinc1981["STATEFIP"] == 45]
dfinc1981SouthDakota = dfinc1981[dfinc1981["STATEFIP"] == 46]
dfinc1981Tennessee = dfinc1981[dfinc1981["STATEFIP"] == 47]
dfinc1981Texas = dfinc1981[dfinc1981["STATEFIP"] == 48]
dfinc1981Utah = dfinc1981[dfinc1981["STATEFIP"] == 49]
dfinc1981Vermont = dfinc1981[dfinc1981["STATEFIP"] == 50]
dfinc1981Virginia = dfinc1981[dfinc1981["STATEFIP"] == 51]
dfinc1981Washington = dfinc1981[dfinc1981["STATEFIP"] == 53]
dfinc1981WestVirginia = dfinc1981[dfinc1981["STATEFIP"] == 54]
dfinc1981Wisconsin = dfinc1981[dfinc1981["STATEFIP"] == 55]
dfinc1981Wyoming = dfinc1981[dfinc1981["STATEFIP"] == 56]
dfinc1982Alabama = dfinc1982[dfinc1982["STATEFIP"] == 1]
dfinc1982Alaska = dfinc1982[dfinc1982["STATEFIP"] == 2]
dfinc1982Arizona = dfinc1982[dfinc1982["STATEFIP"] == 4]
dfinc1982Arkansas = dfinc1982[dfinc1982["STATEFIP"] == 5]
dfinc1982California = dfinc1982[dfinc1982["STATEFIP"] == 6]
dfinc1982Colorado = dfinc1982[dfinc1982["STATEFIP"] == 8]
dfinc1982Connecticut = dfinc1982[dfinc1982["STATEFIP"] == 9]
dfinc1982Delaware = dfinc1982[dfinc1982["STATEFIP"] == 10]
dfinc1982DC = dfinc1982[dfinc1982["STATEFIP"] == 11]
dfinc1982Florida = dfinc1982[dfinc1982["STATEFIP"] == 12]
dfinc1982Georgia = dfinc1982[dfinc1982["STATEFIP"] == 13]
dfinc1982Hawaii = dfinc1982[dfinc1982["STATEFIP"] == 15]
dfinc1982Idaho = dfinc1982[dfinc1982["STATEFIP"] == 16]
dfinc1982Illinois = dfinc1982[dfinc1982["STATEFIP"] == 17]
dfinc1982Indiana = dfinc1982[dfinc1982["STATEFIP"] == 18]
dfinc1982Iowa = dfinc1982[dfinc1982["STATEFIP"] == 19]
dfinc1982Kansas = dfinc1982[dfinc1982["STATEFIP"] == 20]
dfinc1982Kentucky = dfinc1982[dfinc1982["STATEFIP"] == 21]
dfinc1982Louisiana = dfinc1982[dfinc1982["STATEFIP"] == 22]
dfinc1982Maine = dfinc1982[dfinc1982["STATEFIP"] == 23]
dfinc1982Maryland = dfinc1982[dfinc1982["STATEFIP"] == 24]
dfinc1982Maryland = dfinc1982[dfinc1982["STATEFIP"] == 25]
dfinc1982Michigan = dfinc1982[dfinc1982["STATEFIP"] == 26]
dfinc1982Minnesota = dfinc1982[dfinc1982["STATEFIP"] == 27]
dfinc1982Mississippi = dfinc1982[dfinc1982["STATEFIP"] == 28]
dfinc1982Missouri = dfinc1982[dfinc1982["STATEFIP"] == 29]
dfinc1982Montana = dfinc1982[dfinc1982["STATEFIP"] == 30]
dfinc1982Nebraska = dfinc1982[dfinc1982["STATEFIP"] == 31]
dfinc1982Nevada = dfinc1982[dfinc1982["STATEFIP"] == 32]
dfinc1982NewHampshire = dfinc1982[dfinc1982["STATEFIP"] == 33]
dfinc1982NewJersey = dfinc1982[dfinc1982["STATEFIP"] == 34]
dfinc1982NewMexico = dfinc1982[dfinc1982["STATEFIP"] == 35]
dfinc1982NewYork = dfinc1982[dfinc1982["STATEFIP"] == 36]
dfinc1982NorthCarolina = dfinc1982[dfinc1982["STATEFIP"] == 37]
dfinc1982NorthDakota = dfinc1982[dfinc1982["STATEFIP"] == 38]
dfinc1982Ohio = dfinc1982[dfinc1982["STATEFIP"] == 39]
dfinc1982Oklahoma = dfinc1982[dfinc1982["STATEFIP"] == 40]
dfinc1982Oregon = dfinc1982[dfinc1982["STATEFIP"] == 41]
dfinc1982Pennsylvania = dfinc1982[dfinc1982["STATEFIP"] == 42]
dfinc1982RhodeIsland = dfinc1982[dfinc1982["STATEFIP"] == 44]
dfinc1982SouthCarolina = dfinc1982[dfinc1982["STATEFIP"] == 45]
dfinc1982SouthDakota = dfinc1982[dfinc1982["STATEFIP"] == 46]
dfinc1982Tennessee = dfinc1982[dfinc1982["STATEFIP"] == 47]
dfinc1982Texas = dfinc1982[dfinc1982["STATEFIP"] == 48]
dfinc1982Utah = dfinc1982[dfinc1982["STATEFIP"] == 49]
dfinc1982Vermont = dfinc1982[dfinc1982["STATEFIP"] == 50]
dfinc1982Virginia = dfinc1982[dfinc1982["STATEFIP"] == 51]
dfinc1982Washington = dfinc1982[dfinc1982["STATEFIP"] == 53]
dfinc1982WestVirginia = dfinc1982[dfinc1982["STATEFIP"] == 54]
dfinc1982Wisconsin = dfinc1982[dfinc1982["STATEFIP"] == 55]
dfinc1982Wyoming = dfinc1982[dfinc1982["STATEFIP"] == 56]
dfinc1983Alabama = dfinc1983[dfinc1983["STATEFIP"] == 1]
dfinc1983Alaska = dfinc1983[dfinc1983["STATEFIP"] == 2]
dfinc1983Arizona = dfinc1983[dfinc1983["STATEFIP"] == 4]
dfinc1983Arkansas = dfinc1983[dfinc1983["STATEFIP"] == 5]
dfinc1983California = dfinc1983[dfinc1983["STATEFIP"] == 6]
dfinc1983Colorado = dfinc1983[dfinc1983["STATEFIP"] == 8]
dfinc1983Connecticut = dfinc1983[dfinc1983["STATEFIP"] == 9]
dfinc1983Delaware = dfinc1983[dfinc1983["STATEFIP"] == 10]
dfinc1983DC = dfinc1983[dfinc1983["STATEFIP"] == 11]
dfinc1983Florida = dfinc1983[dfinc1983["STATEFIP"] == 12]
dfinc1983Georgia = dfinc1983[dfinc1983["STATEFIP"] == 13]
dfinc1983Hawaii = dfinc1983[dfinc1983["STATEFIP"] == 15]
dfinc1983Idaho = dfinc1983[dfinc1983["STATEFIP"] == 16]
dfinc1983Illinois = dfinc1983[dfinc1983["STATEFIP"] == 17]
dfinc1983Indiana = dfinc1983[dfinc1983["STATEFIP"] == 18]
dfinc1983Iowa = dfinc1983[dfinc1983["STATEFIP"] == 19]
dfinc1983Kansas = dfinc1983[dfinc1983["STATEFIP"] == 20]
dfinc1983Kentucky = dfinc1983[dfinc1983["STATEFIP"] == 21]
dfinc1983Louisiana = dfinc1983[dfinc1983["STATEFIP"] == 22]
dfinc1983Maine = dfinc1983[dfinc1983["STATEFIP"] == 23]
dfinc1983Maryland = dfinc1983[dfinc1983["STATEFIP"] == 24]
dfinc1983Maryland = dfinc1983[dfinc1983["STATEFIP"] == 25]
dfinc1983Michigan = dfinc1983[dfinc1983["STATEFIP"] == 26]
dfinc1983Minnesota = dfinc1983[dfinc1983["STATEFIP"] == 27]
dfinc1983Mississippi = dfinc1983[dfinc1983["STATEFIP"] == 28]
dfinc1983Missouri = dfinc1983[dfinc1983["STATEFIP"] == 29]
dfinc1983Montana = dfinc1983[dfinc1983["STATEFIP"] == 30]
dfinc1983Nebraska = dfinc1983[dfinc1983["STATEFIP"] == 31]
dfinc1983Nevada = dfinc1983[dfinc1983["STATEFIP"] == 32]
dfinc1983NewHampshire = dfinc1983[dfinc1983["STATEFIP"] == 33]
dfinc1983NewJersey = dfinc1983[dfinc1983["STATEFIP"] == 34]
dfinc1983NewMexico = dfinc1983[dfinc1983["STATEFIP"] == 35]
dfinc1983NewYork = dfinc1983[dfinc1983["STATEFIP"] == 36]
dfinc1983NorthCarolina = dfinc1983[dfinc1983["STATEFIP"] == 37]
dfinc1983NorthDakota = dfinc1983[dfinc1983["STATEFIP"] == 38]
dfinc1983Ohio = dfinc1983[dfinc1983["STATEFIP"] == 39]
dfinc1983Oklahoma = dfinc1983[dfinc1983["STATEFIP"] == 40]
dfinc1983Oregon = dfinc1983[dfinc1983["STATEFIP"] == 41]
dfinc1983Pennsylvania = dfinc1983[dfinc1983["STATEFIP"] == 42]
dfinc1983RhodeIsland = dfinc1983[dfinc1983["STATEFIP"] == 44]
dfinc1983SouthCarolina = dfinc1983[dfinc1983["STATEFIP"] == 45]
dfinc1983SouthDakota = dfinc1983[dfinc1983["STATEFIP"] == 46]
dfinc1983Tennessee = dfinc1983[dfinc1983["STATEFIP"] == 47]
dfinc1983Texas = dfinc1983[dfinc1983["STATEFIP"] == 48]
dfinc1983Utah = dfinc1983[dfinc1983["STATEFIP"] == 49]
dfinc1983Vermont = dfinc1983[dfinc1983["STATEFIP"] == 50]
dfinc1983Virginia = dfinc1983[dfinc1983["STATEFIP"] == 51]
dfinc1983Washington = dfinc1983[dfinc1983["STATEFIP"] == 53]
dfinc1983WestVirginia = dfinc1983[dfinc1983["STATEFIP"] == 54]
dfinc1983Wisconsin = dfinc1983[dfinc1983["STATEFIP"] == 55]
dfinc1983Wyoming = dfinc1983[dfinc1983["STATEFIP"] == 56]

In [29]:
dfrace1980Alabama = dfrace1980[dfrace1980["STATEFIP"] == 1]
dfrace1980Alaska = dfrace1980[dfrace1980["STATEFIP"] == 2]
dfrace1980Arizona = dfrace1980[dfrace1980["STATEFIP"] == 4]
dfrace1980Arkansas = dfrace1980[dfrace1980["STATEFIP"] == 5]
dfrace1980California = dfrace1980[dfrace1980["STATEFIP"] == 6]
dfrace1980Colorado = dfrace1980[dfrace1980["STATEFIP"] == 8]
dfrace1980Connecticut = dfrace1980[dfrace1980["STATEFIP"] == 9]
dfrace1980Delaware = dfrace1980[dfrace1980["STATEFIP"] == 10]
dfrace1980DC = dfrace1980[dfrace1980["STATEFIP"] == 11]
dfrace1980Florida = dfrace1980[dfrace1980["STATEFIP"] == 12]
dfrace1980Georgia = dfrace1980[dfrace1980["STATEFIP"] == 13]
dfrace1980Hawaii = dfrace1980[dfrace1980["STATEFIP"] == 15]
dfrace1980Idaho = dfrace1980[dfrace1980["STATEFIP"] == 16]
dfrace1980Illinois = dfrace1980[dfrace1980["STATEFIP"] == 17]
dfrace1980Indiana = dfrace1980[dfrace1980["STATEFIP"] == 18]
dfrace1980Iowa = dfrace1980[dfrace1980["STATEFIP"] == 19]
dfrace1980Kansas = dfrace1980[dfrace1980["STATEFIP"] == 20]
dfrace1980Kentucky = dfrace1980[dfrace1980["STATEFIP"] == 21]
dfrace1980Louisiana = dfrace1980[dfrace1980["STATEFIP"] == 22]
dfrace1980Maine = dfrace1980[dfrace1980["STATEFIP"] == 23]
dfrace1980Maryland = dfrace1980[dfrace1980["STATEFIP"] == 24]
dfrace1980Maryland = dfrace1980[dfrace1980["STATEFIP"] == 25]
dfrace1980Michigan = dfrace1980[dfrace1980["STATEFIP"] == 26]
dfrace1980Minnesota = dfrace1980[dfrace1980["STATEFIP"] == 27]
dfrace1980Mississippi = dfrace1980[dfrace1980["STATEFIP"] == 28]
dfrace1980Missouri = dfrace1980[dfrace1980["STATEFIP"] == 29]
dfrace1980Montana = dfrace1980[dfrace1980["STATEFIP"] == 30]
dfrace1980Nebraska = dfrace1980[dfrace1980["STATEFIP"] == 31]
dfrace1980Nevada = dfrace1980[dfrace1980["STATEFIP"] == 32]
dfrace1980NewHampshire = dfrace1980[dfrace1980["STATEFIP"] == 33]
dfrace1980NewJersey = dfrace1980[dfrace1980["STATEFIP"] == 34]
dfrace1980NewMexico = dfrace1980[dfrace1980["STATEFIP"] == 35]
dfrace1980NewYork = dfrace1980[dfrace1980["STATEFIP"] == 36]
dfrace1980NorthCarolina = dfrace1980[dfrace1980["STATEFIP"] == 37]
dfrace1980NorthDakota = dfrace1980[dfrace1980["STATEFIP"] == 38]
dfrace1980Ohio = dfrace1980[dfrace1980["STATEFIP"] == 39]
dfrace1980Oklahoma = dfrace1980[dfrace1980["STATEFIP"] == 40]
dfrace1980Oregon = dfrace1980[dfrace1980["STATEFIP"] == 41]
dfrace1980Pennsylvania = dfrace1980[dfrace1980["STATEFIP"] == 42]
dfrace1980RhodeIsland = dfrace1980[dfrace1980["STATEFIP"] == 44]
dfrace1980SouthCarolina = dfrace1980[dfrace1980["STATEFIP"] == 45]
dfrace1980SouthDakota = dfrace1980[dfrace1980["STATEFIP"] == 46]
dfrace1980Tennessee = dfrace1980[dfrace1980["STATEFIP"] == 47]
dfrace1980Texas = dfrace1980[dfrace1980["STATEFIP"] == 48]
dfrace1980Utah = dfrace1980[dfrace1980["STATEFIP"] == 49]
dfrace1980Vermont = dfrace1980[dfrace1980["STATEFIP"] == 50]
dfrace1980Virginia = dfrace1980[dfrace1980["STATEFIP"] == 51]
dfrace1980Washington = dfrace1980[dfrace1980["STATEFIP"] == 53]
dfrace1980WestVirginia = dfrace1980[dfrace1980["STATEFIP"] == 54]
dfrace1980Wisconsin = dfrace1980[dfrace1980["STATEFIP"] == 55]
dfrace1980Wyoming = dfrace1980[dfrace1980["STATEFIP"] == 56]
dfrace1981Alabama = dfrace1981[dfrace1981["STATEFIP"] == 1]
dfrace1981Alaska = dfrace1981[dfrace1981["STATEFIP"] == 2]
dfrace1981Arizona = dfrace1981[dfrace1981["STATEFIP"] == 4]
dfrace1981Arkansas = dfrace1981[dfrace1981["STATEFIP"] == 5]
dfrace1981California = dfrace1981[dfrace1981["STATEFIP"] == 6]
dfrace1981Colorado = dfrace1981[dfrace1981["STATEFIP"] == 8]
dfrace1981Connecticut = dfrace1981[dfrace1981["STATEFIP"] == 9]
dfrace1981Delaware = dfrace1981[dfrace1981["STATEFIP"] == 10]
dfrace1981DC = dfrace1981[dfrace1981["STATEFIP"] == 11]
dfrace1981Florida = dfrace1981[dfrace1981["STATEFIP"] == 12]
dfrace1981Georgia = dfrace1981[dfrace1981["STATEFIP"] == 13]
dfrace1981Hawaii = dfrace1981[dfrace1981["STATEFIP"] == 15]
dfrace1981Idaho = dfrace1981[dfrace1981["STATEFIP"] == 16]
dfrace1981Illinois = dfrace1981[dfrace1981["STATEFIP"] == 17]
dfrace1981Indiana = dfrace1981[dfrace1981["STATEFIP"] == 18]
dfrace1981Iowa = dfrace1981[dfrace1981["STATEFIP"] == 19]
dfrace1981Kansas = dfrace1981[dfrace1981["STATEFIP"] == 20]
dfrace1981Kentucky = dfrace1981[dfrace1981["STATEFIP"] == 21]
dfrace1981Louisiana = dfrace1981[dfrace1981["STATEFIP"] == 22]
dfrace1981Maine = dfrace1981[dfrace1981["STATEFIP"] == 23]
dfrace1981Maryland = dfrace1981[dfrace1981["STATEFIP"] == 24]
dfrace1981Maryland = dfrace1981[dfrace1981["STATEFIP"] == 25]
dfrace1981Michigan = dfrace1981[dfrace1981["STATEFIP"] == 26]
dfrace1981Minnesota = dfrace1981[dfrace1981["STATEFIP"] == 27]
dfrace1981Mississippi = dfrace1981[dfrace1981["STATEFIP"] == 28]
dfrace1981Missouri = dfrace1981[dfrace1981["STATEFIP"] == 29]
dfrace1981Montana = dfrace1981[dfrace1981["STATEFIP"] == 30]
dfrace1981Nebraska = dfrace1981[dfrace1981["STATEFIP"] == 31]
dfrace1981Nevada = dfrace1981[dfrace1981["STATEFIP"] == 32]
dfrace1981NewHampshire = dfrace1981[dfrace1981["STATEFIP"] == 33]
dfrace1981NewJersey = dfrace1981[dfrace1981["STATEFIP"] == 34]
dfrace1981NewMexico = dfrace1981[dfrace1981["STATEFIP"] == 35]
dfrace1981NewYork = dfrace1981[dfrace1981["STATEFIP"] == 36]
dfrace1981NorthCarolina = dfrace1981[dfrace1981["STATEFIP"] == 37]
dfrace1981NorthDakota = dfrace1981[dfrace1981["STATEFIP"] == 38]
dfrace1981Ohio = dfrace1981[dfrace1981["STATEFIP"] == 39]
dfrace1981Oklahoma = dfrace1981[dfrace1981["STATEFIP"] == 40]
dfrace1981Oregon = dfrace1981[dfrace1981["STATEFIP"] == 41]
dfrace1981Pennsylvania = dfrace1981[dfrace1981["STATEFIP"] == 42]
dfrace1981RhodeIsland = dfrace1981[dfrace1981["STATEFIP"] == 44]
dfrace1981SouthCarolina = dfrace1981[dfrace1981["STATEFIP"] == 45]
dfrace1981SouthDakota = dfrace1981[dfrace1981["STATEFIP"] == 46]
dfrace1981Tennessee = dfrace1981[dfrace1981["STATEFIP"] == 47]
dfrace1981Texas = dfrace1981[dfrace1981["STATEFIP"] == 48]
dfrace1981Utah = dfrace1981[dfrace1981["STATEFIP"] == 49]
dfrace1981Vermont = dfrace1981[dfrace1981["STATEFIP"] == 50]
dfrace1981Virginia = dfrace1981[dfrace1981["STATEFIP"] == 51]
dfrace1981Washington = dfrace1981[dfrace1981["STATEFIP"] == 53]
dfrace1981WestVirginia = dfrace1981[dfrace1981["STATEFIP"] == 54]
dfrace1981Wisconsin = dfrace1981[dfrace1981["STATEFIP"] == 55]
dfrace1981Wyoming = dfrace1981[dfrace1981["STATEFIP"] == 56]
dfrace1982Alabama = dfrace1982[dfrace1982["STATEFIP"] == 1]
dfrace1982Alaska = dfrace1982[dfrace1982["STATEFIP"] == 2]
dfrace1982Arizona = dfrace1982[dfrace1982["STATEFIP"] == 4]
dfrace1982Arkansas = dfrace1982[dfrace1982["STATEFIP"] == 5]
dfrace1982California = dfrace1982[dfrace1982["STATEFIP"] == 6]
dfrace1982Colorado = dfrace1982[dfrace1982["STATEFIP"] == 8]
dfrace1982Connecticut = dfrace1982[dfrace1982["STATEFIP"] == 9]
dfrace1982Delaware = dfrace1982[dfrace1982["STATEFIP"] == 10]
dfrace1982DC = dfrace1982[dfrace1982["STATEFIP"] == 11]
dfrace1982Florida = dfrace1982[dfrace1982["STATEFIP"] == 12]
dfrace1982Georgia = dfrace1982[dfrace1982["STATEFIP"] == 13]
dfrace1982Hawaii = dfrace1982[dfrace1982["STATEFIP"] == 15]
dfrace1982Idaho = dfrace1982[dfrace1982["STATEFIP"] == 16]
dfrace1982Illinois = dfrace1982[dfrace1982["STATEFIP"] == 17]
dfrace1982Indiana = dfrace1982[dfrace1982["STATEFIP"] == 18]
dfrace1982Iowa = dfrace1982[dfrace1982["STATEFIP"] == 19]
dfrace1982Kansas = dfrace1982[dfrace1982["STATEFIP"] == 20]
dfrace1982Kentucky = dfrace1982[dfrace1982["STATEFIP"] == 21]
dfrace1982Louisiana = dfrace1982[dfrace1982["STATEFIP"] == 22]
dfrace1982Maine = dfrace1982[dfrace1982["STATEFIP"] == 23]
dfrace1982Maryland = dfrace1982[dfrace1982["STATEFIP"] == 24]
dfrace1982Maryland = dfrace1982[dfrace1982["STATEFIP"] == 25]
dfrace1982Michigan = dfrace1982[dfrace1982["STATEFIP"] == 26]
dfrace1982Minnesota = dfrace1982[dfrace1982["STATEFIP"] == 27]
dfrace1982Mississippi = dfrace1982[dfrace1982["STATEFIP"] == 28]
dfrace1982Missouri = dfrace1982[dfrace1982["STATEFIP"] == 29]
dfrace1982Montana = dfrace1982[dfrace1982["STATEFIP"] == 30]
dfrace1982Nebraska = dfrace1982[dfrace1982["STATEFIP"] == 31]
dfrace1982Nevada = dfrace1982[dfrace1982["STATEFIP"] == 32]
dfrace1982NewHampshire = dfrace1982[dfrace1982["STATEFIP"] == 33]
dfrace1982NewJersey = dfrace1982[dfrace1982["STATEFIP"] == 34]
dfrace1982NewMexico = dfrace1982[dfrace1982["STATEFIP"] == 35]
dfrace1982NewYork = dfrace1982[dfrace1982["STATEFIP"] == 36]
dfrace1982NorthCarolina = dfrace1982[dfrace1982["STATEFIP"] == 37]
dfrace1982NorthDakota = dfrace1982[dfrace1982["STATEFIP"] == 38]
dfrace1982Ohio = dfrace1982[dfrace1982["STATEFIP"] == 39]
dfrace1982Oklahoma = dfrace1982[dfrace1982["STATEFIP"] == 40]
dfrace1982Oregon = dfrace1982[dfrace1982["STATEFIP"] == 41]
dfrace1982Pennsylvania = dfrace1982[dfrace1982["STATEFIP"] == 42]
dfrace1982RhodeIsland = dfrace1982[dfrace1982["STATEFIP"] == 44]
dfrace1982SouthCarolina = dfrace1982[dfrace1982["STATEFIP"] == 45]
dfrace1982SouthDakota = dfrace1982[dfrace1982["STATEFIP"] == 46]
dfrace1982Tennessee = dfrace1982[dfrace1982["STATEFIP"] == 47]
dfrace1982Texas = dfrace1982[dfrace1982["STATEFIP"] == 48]
dfrace1982Utah = dfrace1982[dfrace1982["STATEFIP"] == 49]
dfrace1982Vermont = dfrace1982[dfrace1982["STATEFIP"] == 50]
dfrace1982Virginia = dfrace1982[dfrace1982["STATEFIP"] == 51]
dfrace1982Washington = dfrace1982[dfrace1982["STATEFIP"] == 53]
dfrace1982WestVirginia = dfrace1982[dfrace1982["STATEFIP"] == 54]
dfrace1982Wisconsin = dfrace1982[dfrace1982["STATEFIP"] == 55]
dfrace1982Wyoming = dfrace1982[dfrace1982["STATEFIP"] == 56]
dfrace1983Alabama = dfrace1983[dfrace1983["STATEFIP"] == 1]
dfrace1983Alaska = dfrace1983[dfrace1983["STATEFIP"] == 2]
dfrace1983Arizona = dfrace1983[dfrace1983["STATEFIP"] == 4]
dfrace1983Arkansas = dfrace1983[dfrace1983["STATEFIP"] == 5]
dfrace1983California = dfrace1983[dfrace1983["STATEFIP"] == 6]
dfrace1983Colorado = dfrace1983[dfrace1983["STATEFIP"] == 8]
dfrace1983Connecticut = dfrace1983[dfrace1983["STATEFIP"] == 9]
dfrace1983Delaware = dfrace1983[dfrace1983["STATEFIP"] == 10]
dfrace1983DC = dfrace1983[dfrace1983["STATEFIP"] == 11]
dfrace1983Florida = dfrace1983[dfrace1983["STATEFIP"] == 12]
dfrace1983Georgia = dfrace1983[dfrace1983["STATEFIP"] == 13]
dfrace1983Hawaii = dfrace1983[dfrace1983["STATEFIP"] == 15]
dfrace1983Idaho = dfrace1983[dfrace1983["STATEFIP"] == 16]
dfrace1983Illinois = dfrace1983[dfrace1983["STATEFIP"] == 17]
dfrace1983Indiana = dfrace1983[dfrace1983["STATEFIP"] == 18]
dfrace1983Iowa = dfrace1983[dfrace1983["STATEFIP"] == 19]
dfrace1983Kansas = dfrace1983[dfrace1983["STATEFIP"] == 20]
dfrace1983Kentucky = dfrace1983[dfrace1983["STATEFIP"] == 21]
dfrace1983Louisiana = dfrace1983[dfrace1983["STATEFIP"] == 22]
dfrace1983Maine = dfrace1983[dfrace1983["STATEFIP"] == 23]
dfrace1983Maryland = dfrace1983[dfrace1983["STATEFIP"] == 24]
dfrace1983Maryland = dfrace1983[dfrace1983["STATEFIP"] == 25]
dfrace1983Michigan = dfrace1983[dfrace1983["STATEFIP"] == 26]
dfrace1983Minnesota = dfrace1983[dfrace1983["STATEFIP"] == 27]
dfrace1983Mississippi = dfrace1983[dfrace1983["STATEFIP"] == 28]
dfrace1983Missouri = dfrace1983[dfrace1983["STATEFIP"] == 29]
dfrace1983Montana = dfrace1983[dfrace1983["STATEFIP"] == 30]
dfrace1983Nebraska = dfrace1983[dfrace1983["STATEFIP"] == 31]
dfrace1983Nevada = dfrace1983[dfrace1983["STATEFIP"] == 32]
dfrace1983NewHampshire = dfrace1983[dfrace1983["STATEFIP"] == 33]
dfrace1983NewJersey = dfrace1983[dfrace1983["STATEFIP"] == 34]
dfrace1983NewMexico = dfrace1983[dfrace1983["STATEFIP"] == 35]
dfrace1983NewYork = dfrace1983[dfrace1983["STATEFIP"] == 36]
dfrace1983NorthCarolina = dfrace1983[dfrace1983["STATEFIP"] == 37]
dfrace1983NorthDakota = dfrace1983[dfrace1983["STATEFIP"] == 38]
dfrace1983Ohio = dfrace1983[dfrace1983["STATEFIP"] == 39]
dfrace1983Oklahoma = dfrace1983[dfrace1983["STATEFIP"] == 40]
dfrace1983Oregon = dfrace1983[dfrace1983["STATEFIP"] == 41]
dfrace1983Pennsylvania = dfrace1983[dfrace1983["STATEFIP"] == 42]
dfrace1983RhodeIsland = dfrace1983[dfrace1983["STATEFIP"] == 44]
dfrace1983SouthCarolina = dfrace1983[dfrace1983["STATEFIP"] == 45]
dfrace1983SouthDakota = dfrace1983[dfrace1983["STATEFIP"] == 46]
dfrace1983Tennessee = dfrace1983[dfrace1983["STATEFIP"] == 47]
dfrace1983Texas = dfrace1983[dfrace1983["STATEFIP"] == 48]
dfrace1983Utah = dfrace1983[dfrace1983["STATEFIP"] == 49]
dfrace1983Vermont = dfrace1983[dfrace1983["STATEFIP"] == 50]
dfrace1983Virginia = dfrace1983[dfrace1983["STATEFIP"] == 51]
dfrace1983Washington = dfrace1983[dfrace1983["STATEFIP"] == 53]
dfrace1983WestVirginia = dfrace1983[dfrace1983["STATEFIP"] == 54]
dfrace1983Wisconsin = dfrace1983[dfrace1983["STATEFIP"] == 55]
dfrace1983Wyoming = dfrace1983[dfrace1983["STATEFIP"] == 56]

In [30]:
incomedataframes =[dfinc1980Alabama, 
dfinc1980Alaska, 
dfinc1980Arizona, 
dfinc1980Arkansas, 
dfinc1980California, 
dfinc1980Colorado, 
dfinc1980Connecticut, 
dfinc1980Delaware, 
dfinc1980DC, 
dfinc1980Florida, 
dfinc1980Georgia, 
dfinc1980Hawaii, 
dfinc1980Idaho, 
dfinc1980Illinois, 
dfinc1980Indiana, 
dfinc1980Iowa, 
dfinc1980Kansas, 
dfinc1980Kentucky, 
dfinc1980Louisiana, 
dfinc1980Maine, 
dfinc1980Maryland, 
dfinc1980Maryland, 
dfinc1980Michigan, 
dfinc1980Minnesota, 
dfinc1980Mississippi, 
dfinc1980Missouri, 
dfinc1980Montana, 
dfinc1980Nebraska, 
dfinc1980Nevada, 
dfinc1980NewHampshire, 
dfinc1980NewJersey, 
dfinc1980NewMexico, 
dfinc1980NewYork, 
dfinc1980NorthCarolina, 
dfinc1980NorthDakota, 
dfinc1980Ohio, 
dfinc1980Oklahoma, 
dfinc1980Oregon, 
dfinc1980Pennsylvania, 
dfinc1980RhodeIsland, 
dfinc1980SouthCarolina, 
dfinc1980SouthDakota, 
dfinc1980Tennessee, 
dfinc1980Texas, 
dfinc1980Utah, 
dfinc1980Vermont, 
dfinc1980Virginia, 
dfinc1980Washington, 
dfinc1980WestVirginia, 
dfinc1980Wisconsin, 
dfinc1980Wyoming, 
dfinc1981Alabama, 
dfinc1981Alaska, 
dfinc1981Arizona, 
dfinc1981Arkansas, 
dfinc1981California, 
dfinc1981Colorado, 
dfinc1981Connecticut, 
dfinc1981Delaware, 
dfinc1981DC, 
dfinc1981Florida, 
dfinc1981Georgia, 
dfinc1981Hawaii, 
dfinc1981Idaho, 
dfinc1981Illinois, 
dfinc1981Indiana, 
dfinc1981Iowa, 
dfinc1981Kansas, 
dfinc1981Kentucky, 
dfinc1981Louisiana, 
dfinc1981Maine, 
dfinc1981Maryland, 
dfinc1981Maryland, 
dfinc1981Michigan, 
dfinc1981Minnesota, 
dfinc1981Mississippi,
dfinc1981Missouri, 
dfinc1981Montana, 
dfinc1981Nebraska, 
dfinc1981Nevada, 
dfinc1981NewHampshire, 
dfinc1981NewJersey, 
dfinc1981NewMexico, 
dfinc1981NewYork, 
dfinc1981NorthCarolina, 
dfinc1981NorthDakota, 
dfinc1981Ohio, 
dfinc1981Oklahoma, 
dfinc1981Oregon, 
dfinc1981Pennsylvania, 
dfinc1981RhodeIsland, 
dfinc1981SouthCarolina, 
dfinc1981SouthDakota, 
dfinc1981Tennessee, 
dfinc1981Texas, 
dfinc1981Utah, 
dfinc1981Vermont, 
dfinc1981Virginia, 
dfinc1981Washington, 
dfinc1981WestVirginia, 
dfinc1981Wisconsin, 
dfinc1981Wyoming,
dfinc1982Alabama, 
dfinc1982Alaska, 
dfinc1982Arizona, 
dfinc1982Arkansas, 
dfinc1982California,
dfinc1982Colorado, 
dfinc1982Connecticut, 
dfinc1982Delaware, 
dfinc1982DC, 
dfinc1982Florida, 
dfinc1982Georgia, 
dfinc1982Hawaii, 
dfinc1982Idaho, 
dfinc1982Illinois, 
dfinc1982Indiana, 
dfinc1982Iowa, 
dfinc1982Kansas, 
dfinc1982Kentucky, 
dfinc1982Louisiana, 
dfinc1982Maine,
dfinc1982Maryland, 
dfinc1982Maryland, 
dfinc1982Michigan, 
dfinc1982Minnesota, 
dfinc1982Mississippi, 
dfinc1982Missouri, 
dfinc1982Montana, 
dfinc1982Nebraska, 
dfinc1982Nevada, 
dfinc1982NewHampshire, 
dfinc1982NewJersey, 
dfinc1982NewMexico, 
dfinc1982NewYork, 
dfinc1982NorthCarolina,
dfinc1982NorthDakota, 
dfinc1982Ohio, 
dfinc1982Oklahoma, 
dfinc1982Oregon, 
dfinc1982Pennsylvania, 
dfinc1982RhodeIsland, 
dfinc1982SouthCarolina,
dfinc1982SouthDakota, 
dfinc1982Tennessee, 
dfinc1982Texas,
dfinc1982Utah, 
dfinc1982Vermont,
dfinc1982Virginia, 
dfinc1982Washington, 
dfinc1982WestVirginia,
dfinc1982Wisconsin,
dfinc1982Wyoming, 
dfinc1983Alabama,
dfinc1983Alaska, 
dfinc1983Arizona, 
dfinc1983Arkansas, 
dfinc1983California, 
dfinc1983Colorado, 
dfinc1983Connecticut, 
dfinc1983Delaware, 
dfinc1983DC, 
dfinc1983Florida, 
dfinc1983Georgia,
dfinc1983Hawaii, 
dfinc1983Idaho, 
dfinc1983Illinois, 
dfinc1983Indiana, 
dfinc1983Iowa, 
dfinc1983Kansas, 
dfinc1983Kentucky, 
dfinc1983Louisiana, 
dfinc1983Maine, 
dfinc1983Maryland, 
dfinc1983Maryland, 
dfinc1983Michigan, 
dfinc1983Minnesota, 
dfinc1983Mississippi, 
dfinc1983Missouri, 
dfinc1983Montana,
dfinc1983Nebraska, 
dfinc1983Nevada, 
dfinc1983NewHampshire,
dfinc1983NewJersey, 
dfinc1983NewMexico,
dfinc1983NewYork,
dfinc1983NorthCarolina, 
dfinc1983NorthDakota, 
dfinc1983Ohio, 
dfinc1983Oklahoma, 
dfinc1983Oregon, 
dfinc1983Pennsylvania, 
dfinc1983RhodeIsland, 
dfinc1983SouthCarolina, 
dfinc1983SouthDakota, 
dfinc1983Tennessee,
dfinc1983Texas, 
dfinc1983Utah,
dfinc1983Vermont, 
dfinc1983Virginia, 
dfinc1983Washington, 
dfinc1983WestVirginia, 
dfinc1983Wisconsin, 
dfinc1983Wyoming]

In [31]:
racedataframes = [dfrace1980Alabama, 
dfrace1980Alaska, 
dfrace1980Arizona, 
dfrace1980Arkansas, 
dfrace1980California, 
dfrace1980Colorado, 
dfrace1980Connecticut, 
dfrace1980Delaware, 
dfrace1980DC, 
dfrace1980Florida, 
dfrace1980Georgia, 
dfrace1980Hawaii, 
dfrace1980Idaho, 
dfrace1980Illinois, 
dfrace1980Indiana, 
dfrace1980Iowa, 
dfrace1980Kansas, 
dfrace1980Kentucky, 
dfrace1980Louisiana, 
dfrace1980Maine, 
dfrace1980Maryland, 
dfrace1980Maryland, 
dfrace1980Michigan,
dfrace1980Minnesota,
dfrace1980Mississippi,
dfrace1980Missouri, 
dfrace1980Montana, 
dfrace1980Nebraska, 
dfrace1980Nevada, 
dfrace1980NewHampshire, 
dfrace1980NewJersey, 
dfrace1980NewMexico, 
dfrace1980NewYork, 
dfrace1980NorthCarolina, 
dfrace1980NorthDakota, 
dfrace1980Ohio, 
dfrace1980Oklahoma, 
dfrace1980Oregon, 
dfrace1980Pennsylvania, 
dfrace1980RhodeIsland, 
dfrace1980SouthCarolina, 
dfrace1980SouthDakota, 
dfrace1980Tennessee, 
dfrace1980Texas, 
dfrace1980Utah, 
dfrace1980Vermont, 
dfrace1980Virginia, 
dfrace1980Washington, 
dfrace1980WestVirginia, 
dfrace1980Wisconsin, 
dfrace1980Wyoming, 
dfrace1981Alabama, 
dfrace1981Alaska, 
dfrace1981Arizona, 
dfrace1981Arkansas, 
dfrace1981California, 
dfrace1981Colorado, 
dfrace1981Connecticut, 
dfrace1981Delaware, 
dfrace1981DC, 
dfrace1981Florida, 
dfrace1981Georgia, 
dfrace1981Hawaii, 
dfrace1981Idaho, 
dfrace1981Illinois, 
dfrace1981Indiana, 
dfrace1981Iowa, 
dfrace1981Kansas, 
dfrace1981Kentucky, 
dfrace1981Louisiana, 
dfrace1981Maine, 
dfrace1981Maryland, 
dfrace1981Maryland, 
dfrace1981Michigan, 
dfrace1981Minnesota, 
dfrace1981Mississippi,
dfrace1981Missouri, 
dfrace1981Montana, 
dfrace1981Nebraska, 
dfrace1981Nevada, 
dfrace1981NewHampshire, 
dfrace1981NewJersey, 
dfrace1981NewMexico, 
dfrace1981NewYork, 
dfrace1981NorthCarolina, 
dfrace1981NorthDakota, 
dfrace1981Ohio, 
dfrace1981Oklahoma, 
dfrace1981Oregon, 
dfrace1981Pennsylvania, 
dfrace1981RhodeIsland, 
dfrace1981SouthCarolina, 
dfrace1981SouthDakota, 
dfrace1981Tennessee, 
dfrace1981Texas, 
dfrace1981Utah, 
dfrace1981Vermont, 
dfrace1981Virginia, 
dfrace1981Washington, 
dfrace1981WestVirginia, 
dfrace1981Wisconsin, 
dfrace1981Wyoming,
dfrace1982Alabama, 
dfrace1982Alaska, 
dfrace1982Arizona, 
dfrace1982Arkansas, 
dfrace1982California,
dfrace1982Colorado, 
dfrace1982Connecticut, 
dfrace1982Delaware, 
dfrace1982DC, 
dfrace1982Florida, 
dfrace1982Georgia, 
dfrace1982Hawaii, 
dfrace1982Idaho, 
dfrace1982Illinois, 
dfrace1982Indiana, 
dfrace1982Iowa, 
dfrace1982Kansas, 
dfrace1982Kentucky, 
dfrace1982Louisiana, 
dfrace1982Maine,
dfrace1982Maryland, 
dfrace1982Maryland, 
dfrace1982Michigan, 
dfrace1982Minnesota, 
dfrace1982Mississippi, 
dfrace1982Missouri, 
dfrace1982Montana, 
dfrace1982Nebraska, 
dfrace1982Nevada, 
dfrace1982NewHampshire, 
dfrace1982NewJersey, 
dfrace1982NewMexico, 
dfrace1982NewYork, 
dfrace1982NorthCarolina,
dfrace1982NorthDakota, 
dfrace1982Ohio, 
dfrace1982Oklahoma, 
dfrace1982Oregon, 
dfrace1982Pennsylvania, 
dfrace1982RhodeIsland, 
dfrace1982SouthCarolina,
dfrace1982SouthDakota, 
dfrace1982Tennessee, 
dfrace1982Texas,
dfrace1982Utah, 
dfrace1982Vermont,
dfrace1982Virginia, 
dfrace1982Washington, 
dfrace1982WestVirginia,
dfrace1982Wisconsin,
dfrace1982Wyoming, 
dfrace1983Alabama,
dfrace1983Alaska, 
dfrace1983Arizona, 
dfrace1983Arkansas, 
dfrace1983California, 
dfrace1983Colorado, 
dfrace1983Connecticut, 
dfrace1983Delaware, 
dfrace1983DC, 
dfrace1983Florida, 
dfrace1983Georgia,
dfrace1983Hawaii, 
dfrace1983Idaho, 
dfrace1983Illinois, 
dfrace1983Indiana, 
dfrace1983Iowa, 
dfrace1983Kansas, 
dfrace1983Kentucky, 
dfrace1983Louisiana, 
dfrace1983Maine, 
dfrace1983Maryland, 
dfrace1983Maryland, 
dfrace1983Michigan, 
dfrace1983Minnesota, 
dfrace1983Mississippi, 
dfrace1983Missouri, 
dfrace1983Montana,
dfrace1983Nebraska, 
dfrace1983Nevada, 
dfrace1983NewHampshire,
dfrace1983NewJersey, 
dfrace1983NewMexico,
dfrace1983NewYork,
dfrace1983NorthCarolina, 
dfrace1983NorthDakota, 
dfrace1983Ohio, 
dfrace1983Oklahoma, 
dfrace1983Oregon, 
dfrace1983Pennsylvania, 
dfrace1983RhodeIsland, 
dfrace1983SouthCarolina, 
dfrace1983SouthDakota, 
dfrace1983Tennessee,
dfrace1983Texas, 
dfrace1983Utah,
dfrace1983Vermont, 
dfrace1983Virginia, 
dfrace1983Washington, 
dfrace1983WestVirginia, 
dfrace1983Wisconsin, 
dfrace1983Wyoming]

In [32]:
for x in incomedataframes:
    z = x["INCTOT"].mean()
    print(z)

247471266.08563438
285051702.73612416
257673443.72178313
247064251.38003564
240110638.2835239
239178820.09848204
206725346.43188268
228267930.30227745
197816679.90849316
212316289.9010808
253242957.57467636
248353338.3979644
286099288.2629784
238405870.00962284
257732612.56559765
224359124.38161165
220324941.79222408
229403148.73778096
279705915.65893686
217306252.54575846
214655791.99064422
214655791.99064422
252828107.08110014
235051325.08707964
258863990.29802313
226142433.9953917
244674508.3722334
220671364.04205045
229642595.4985955
222175255.81445312
226780885.4464531
291625870.73140955
234746807.02945793
252333806.97765362
250388479.22821102
240201641.62803888
223700729.41180924
230089277.26295105
218058693.9894251
208022468.78721374
241321053.06808707
272732965.5390946
236640837.2457522
266182157.48293173
330922554.537993
254042057.45679012
224576398.718409
255495322.65707088
240697636.66980067
234740073.69160306
247523973.98963282
243857089.4574842
266304581.22858474
260240305.559401
241319246.89996183
244819848.13398096
248829394.55640188
217938198.60277364
223329154.17542946
206961334.64801738
204440964.820825
229392174.6757199
249887049.3900435
282813745.9829734
238777021.33856675
249636792.42167604
239228527.55215576
215734404.21160972
245167775.11326164
277805241.2747628
221666793.51748842
221270793.722612
221270793.722612
247743384.99254128
224394388.86219338
258092919.77284038
215589896.3941895
248879843.1492415
235641487.92518318
242025174.02016807
222058604.63833076
224453851.80137724
276740970.94226396
227005995.18554333
232719620.0106383
245772682.9988709
236198300.91380954
221309794.51599547
238840666.1829971
211870655.6765019
203573429.6656761
251170938.22367194
250369091.48476052
227180937.26914755
271067881.1824223
329274927.60864747
242206009.30411094
222078528.64673728
233462666.9789091
244249088.58474895
243721496.64796907
242069969.0473999
245579190.8917749
274988502.7641764
242840956.20531198
230513061.3971735
243951934.16395333
258197259.71254355
211844410.71242604
220198468.3394309
173442104.57564574
199055822.74125618
230186157.27593434
250714135.20835686
296204044.200857
235399437.23162547
243584962.4513162
224423992.14141822
226160583.68971062
240756047.38609007
268123098.7777778
234562256.76896033
214194838.64144093
214194838.64144093
239155413.8444103
230805513.2962692
249124514.98104057
216867267.90066457
258814801.82104275
250691222.95396537
253081724.56927374
220143124.09798658
212163973.2177204
266122150.6476481
223472876.294658
225432134.37583148
224883858.8393035
237178323.62398273
224614285.6571804
250692988.67077625
209350405.4400875
206973515.13730744
273964685.3875
252019486.17874396
221082251.5716129
271475071.4874932
330085991.82613593
258463164.0791321
217006654.0748868
229121847.89836347
264424542.427175
236694775.2852071
257575299.04371217
241054529.58721602
273686804.75177306
235540248.50740242
224736487.09214857
240980266.5808923
251566746.08892733
210444741.37866354
234284300.1546855
170869016.57470414
199719992.57101658
230067749.19578114
258178598.60239652
287305466.01058465
231858683.8433547
239109698.8827609
209946266.221118
232429743.2721417
239274350.74060822
265625912.77348065
238760199.9647239
213349944.34593573
213349944.34593573
245850526.58000383
241448798.35545358
253867028.21798366
212034993.01494613
242630579.03138173
246975704.89471132
238281514.9962963
220246871.73875663
212454257.90828884
264547121.6328756
222927808.32526222
225671279.80088496
234927483.43746933
237950560.02785325
227147673.50737464
210196892.433729
199340909.2323955
200943062.9753004
258580244.2052259
253229464.5738046
232496933.95021096
265708248.29403234
338699032.6715382
235337758.09413204
211738891.75042617
243642656.2720713
240207752.28492463
227532751.88998422
238624066.7196921