In [1]:
import pandas as pd

In [2]:
import numpy as np
%matplotlib inline

In [3]:
df1 = pd.read_csv('s133UN01qyLD (2).csv')

In [4]:
df1

        YEAR  STATEFIP     INCTOT
0       1980        23      18919
1       1980        23       8203
2       1980        23      13680
3       1980        23       2802
4       1980        23          0
...      ...       ...        ...
688179  1983        15  999999999
688180  1983        15      35002
688181  1983        15       8502
688182  1983        15          0
688183  1983        15  999999999

[688184 rows x 3 columns]

In [5]:
df2 = pd.read_csv('s165u1u4BUbp (1).csv')

In [6]:
df2

        YEAR  STATEFIP  RACE
0       1980        23   100
1       1980        23   100
2       1980        23   100
3       1980        23   100
4       1980        23   100
...      ...       ...   ...
688179  1983        15   100
688180  1983        15   100
688181  1983        15   100
688182  1983        15   100
688183  1983        15   100

[688184 rows x 3 columns]

In [7]:
dfinc1980 = df1[df1["YEAR"] == 1980]
dfinc1981 = df1[df1["YEAR"] == 1981]
dfinc1982 = df1[df1["YEAR"] == 1982]
dfinc1983 = df1[df1["YEAR"] == 1983]
dfrace1980 = df2[df2["YEAR"] == 1980]
dfrace1981 = df2[df2["YEAR"] == 1981]
dfrace1982 = df2[df2["YEAR"] == 1982]
dfrace1983 = df2[df2["YEAR"] == 1983]

In [8]:
dfinc1980["STATEFIP"].unique()

array([23, 33, 50, 25, 44,  9, 36, 34, 42, 39, 18, 17, 26, 55, 27, 19, 29,
       38, 46, 31, 20, 10, 24, 11, 51, 54, 37, 45, 13, 12, 21, 47,  1, 28,
        5, 22, 40, 48, 30, 16, 56,  8, 35,  4, 49, 32, 53, 41,  6,  2, 15])

In [9]:
dfinc1980.sort_values(by="STATEFIP")

        YEAR  STATEFIP  INCTOT
112465  1980         1     600
112632  1980         1    3435
112633  1980         1    2496
112634  1980         1    1064
112635  1980         1    1640
...      ...       ...     ...
140151  1980        56   17000
140150  1980        56   12394
140149  1980        56   15054
140201  1980        56    4001
138610  1980        56    7756

[181488 rows x 3 columns]

In [10]:
dfinc1981.sort_values(by="STATEFIP")

        YEAR  STATEFIP     INCTOT
293233  1981         1  999999999
293362  1981         1       2680
293363  1981         1      18000
293364  1981         1          0
293365  1981         1  999999999
...      ...       ...        ...
320672  1981        56       4093
320673  1981        56       3965
320674  1981        56  999999999
320660  1981        56       1748
319217  1981        56       1775

[181358 rows x 3 columns]

In [11]:
dfinc1982.sort_values(by="STATEFIP")

        YEAR  STATEFIP     INCTOT
464735  1982         1      15600
464795  1982         1         75
464796  1982         1      26000
464797  1982         1  999999999
464798  1982         1       3511
...      ...       ...        ...
488960  1982        56  999999999
488961  1982        56  999999999
488962  1982        56       3883
488953  1982        56      32000
487965  1982        56       2021

[162703 rows x 3 columns]

In [12]:
dfinc1983.sort_values(by="STATEFIP")

        YEAR  STATEFIP     INCTOT
627498  1983         1       1450
627521  1983         1          0
627522  1983         1       2755
627523  1983         1          0
627524  1983         1  999999999
...      ...       ...        ...
651573  1983        56       4026
651574  1983        56      21400
651575  1983        56        300
651553  1983        56       2932
650530  1983        56       8205

[162635 rows x 3 columns]

In [13]:
dfrace1980.sort_values(by="STATEFIP")

        YEAR  STATEFIP  RACE
112465  1980         1   200
112632  1980         1   100
112633  1980         1   200
112634  1980         1   200
112635  1980         1   200
...      ...       ...   ...
140151  1980        56   100
140150  1980        56   100
140149  1980        56   100
140201  1980        56   100
138610  1980        56   100

[181488 rows x 3 columns]

In [14]:
dfrace1981.sort_values(by="STATEFIP")

        YEAR  STATEFIP  RACE
293233  1981         1   200
293362  1981         1   100
293363  1981         1   100
293364  1981         1   100
293365  1981         1   100
...      ...       ...   ...
320672  1981        56   100
320673  1981        56   100
320674  1981        56   100
320660  1981        56   100
319217  1981        56   100

[181358 rows x 3 columns]

In [15]:
dfrace1982.sort_values(by="STATEFIP")

        YEAR  STATEFIP  RACE
464735  1982         1   100
464795  1982         1   100
464796  1982         1   100
464797  1982         1   100
464798  1982         1   200
...      ...       ...   ...
488960  1982        56   100
488961  1982        56   100
488962  1982        56   100
488953  1982        56   100
487965  1982        56   100

[162703 rows x 3 columns]

In [16]:
dfrace1983.sort_values(by="STATEFIP")

        YEAR  STATEFIP  RACE
627498  1983         1   200
627521  1983         1   100
627522  1983         1   100
627523  1983         1   100
627524  1983         1   100
...      ...       ...   ...
651573  1983        56   100
651574  1983        56   100
651575  1983        56   100
651553  1983        56   100
650530  1983        56   100

[162635 rows x 3 columns]

In [17]:
dfinc1980

        YEAR  STATEFIP     INCTOT
0       1980        23      18919
1       1980        23       8203
2       1980        23      13680
3       1980        23       2802
4       1980        23          0
...      ...       ...        ...
181483  1980        15       2800
181484  1980        15  999999999
181485  1980        15  999999999
181486  1980        15      12752
181487  1980        15         41

[181488 rows x 3 columns]

In [21]:
dfinc1980Alabama = dfinc1980[dfinc1980["STATEFIP"] == 1]
dfinc1980Alaska = dfinc1980[dfinc1980["STATEFIP"] == 2]
dfinc1980Arizona = dfinc1980[dfinc1980["STATEFIP"] == 4]
dfinc1980Arkansas = dfinc1980[dfinc1980["STATEFIP"] == 5]
dfinc1980California = dfinc1980[dfinc1980["STATEFIP"] == 6]
dfinc1980Colorado = dfinc1980[dfinc1980["STATEFIP"] == 8]
dfinc1980Connecticut = dfinc1980[dfinc1980["STATEFIP"] == 9]
dfinc1980Delaware = dfinc1980[dfinc1980["STATEFIP"] == 10]
dfinc1980DC = dfinc1980[dfinc1980["STATEFIP"] == 11]
dfinc1980Florida = dfinc1980[dfinc1980["STATEFIP"] == 12]
dfinc1980Georgia = dfinc1980[dfinc1980["STATEFIP"] == 13]
dfinc1980Hawaii = dfinc1980[dfinc1980["STATEFIP"] == 15]
dfinc1980Idaho = dfinc1980[dfinc1980["STATEFIP"] == 16]
dfinc1980Illinois = dfinc1980[dfinc1980["STATEFIP"] == 17]
dfinc1980Indiana = dfinc1980[dfinc1980["STATEFIP"] == 18]
dfinc1980Iowa = dfinc1980[dfinc1980["STATEFIP"] == 19]
dfinc1980Kansas = dfinc1980[dfinc1980["STATEFIP"] == 20]
dfinc1980Kentucky = dfinc1980[dfinc1980["STATEFIP"] == 21]
dfinc1980Louisiana = dfinc1980[dfinc1980["STATEFIP"] == 22]
dfinc1980Maine = dfinc1980[dfinc1980["STATEFIP"] == 23]
dfinc1980Maryland = dfinc1980[dfinc1980["STATEFIP"] == 24]
dfinc1980Maryland = dfinc1980[dfinc1980["STATEFIP"] == 25]
dfinc1980Michigan = dfinc1980[dfinc1980["STATEFIP"] == 26]
dfinc1980Minnesota = dfinc1980[dfinc1980["STATEFIP"] == 27]
dfinc1980Mississippi = dfinc1980[dfinc1980["STATEFIP"] == 28]
dfinc1980Missouri = dfinc1980[dfinc1980["STATEFIP"] == 29]
dfinc1980Montana = dfinc1980[dfinc1980["STATEFIP"] == 30]
dfinc1980Nebraska = dfinc1980[dfinc1980["STATEFIP"] == 31]
dfinc1980Nevada = dfinc1980[dfinc1980["STATEFIP"] == 32]
dfinc1980NewHampshire = dfinc1980[dfinc1980["STATEFIP"] == 33]
dfinc1980NewJersey = dfinc1980[dfinc1980["STATEFIP"] == 34]
dfinc1980NewMexico = dfinc1980[dfinc1980["STATEFIP"] == 35]
dfinc1980NewYork = dfinc1980[dfinc1980["STATEFIP"] == 36]
dfinc1980NorthCarolina = dfinc1980[dfinc1980["STATEFIP"] == 37]
dfinc1980NorthDakota = dfinc1980[dfinc1980["STATEFIP"] == 38]
dfinc1980Ohio = dfinc1980[dfinc1980["STATEFIP"] == 39]
dfinc1980Oklahoma = dfinc1980[dfinc1980["STATEFIP"] == 40]
dfinc1980Oregon = dfinc1980[dfinc1980["STATEFIP"] == 41]
dfinc1980Pennsylvania = dfinc1980[dfinc1980["STATEFIP"] == 42]
dfinc1980RhodeIsland = dfinc1980[dfinc1980["STATEFIP"] == 44]
dfinc1980SouthCarolina = dfinc1980[dfinc1980["STATEFIP"] == 45]
dfinc1980SouthDakota = dfinc1980[dfinc1980["STATEFIP"] == 46]
dfinc1980Tennessee = dfinc1980[dfinc1980["STATEFIP"] == 47]
dfinc1980Texas = dfinc1980[dfinc1980["STATEFIP"] == 48]
dfinc1980Utah = dfinc1980[dfinc1980["STATEFIP"] == 49]
dfinc1980Vermont = dfinc1980[dfinc1980["STATEFIP"] == 50]
dfinc1980Virginia = dfinc1980[dfinc1980["STATEFIP"] == 51]
dfinc1980Washington = dfinc1980[dfinc1980["STATEFIP"] == 53]
dfinc1980WestVirginia = dfinc1980[dfinc1980["STATEFIP"] == 54]
dfinc1980Wisconsin = dfinc1980[dfinc1980["STATEFIP"] == 55]
dfinc1980Wyoming = dfinc1980[dfinc1980["STATEFIP"] == 56]
dfinc1981Alabama = dfinc1981[dfinc1981["STATEFIP"] == 1]
dfinc1981Alaska = dfinc1981[dfinc1981["STATEFIP"] == 2]
dfinc1981Arizona = dfinc1981[dfinc1981["STATEFIP"] == 4]
dfinc1981Arkansas = dfinc1981[dfinc1981["STATEFIP"] == 5]
dfinc1981California = dfinc1981[dfinc1981["STATEFIP"] == 6]
dfinc1981Colorado = dfinc1981[dfinc1981["STATEFIP"] == 8]
dfinc1981Connecticut = dfinc1981[dfinc1981["STATEFIP"] == 9]
dfinc1981Delaware = dfinc1981[dfinc1981["STATEFIP"] == 10]
dfinc1981DC = dfinc1981[dfinc1981["STATEFIP"] == 11]
dfinc1981Florida = dfinc1981[dfinc1981["STATEFIP"] == 12]
dfinc1981Georgia = dfinc1981[dfinc1981["STATEFIP"] == 13]
dfinc1981Hawaii = dfinc1981[dfinc1981["STATEFIP"] == 15]
dfinc1981Idaho = dfinc1981[dfinc1981["STATEFIP"] == 16]
dfinc1981Illinois = dfinc1981[dfinc1981["STATEFIP"] == 17]
dfinc1981Indiana = dfinc1981[dfinc1981["STATEFIP"] == 18]
dfinc1981Iowa = dfinc1981[dfinc1981["STATEFIP"] == 19]
dfinc1981Kansas = dfinc1981[dfinc1981["STATEFIP"] == 20]
dfinc1981Kentucky = dfinc1981[dfinc1981["STATEFIP"] == 21]
dfinc1981Louisiana = dfinc1981[dfinc1981["STATEFIP"] == 22]
dfinc1981Maine = dfinc1981[dfinc1981["STATEFIP"] == 23]
dfinc1981Maryland = dfinc1981[dfinc1981["STATEFIP"] == 24]
dfinc1981Maryland = dfinc1981[dfinc1981["STATEFIP"] == 25]
dfinc1981Michigan = dfinc1981[dfinc1981["STATEFIP"] == 26]
dfinc1981Minnesota = dfinc1981[dfinc1981["STATEFIP"] == 27]
dfinc1981Mississippi = dfinc1981[dfinc1981["STATEFIP"] == 28]
dfinc1981Missouri = dfinc1981[dfinc1981["STATEFIP"] == 29]
dfinc1981Montana = dfinc1981[dfinc1981["STATEFIP"] == 30]
dfinc1981Nebraska = dfinc1981[dfinc1981["STATEFIP"] == 31]
dfinc1981Nevada = dfinc1981[dfinc1981["STATEFIP"] == 32]
dfinc1981NewHampshire = dfinc1981[dfinc1981["STATEFIP"] == 33]
dfinc1981NewJersey = dfinc1981[dfinc1981["STATEFIP"] == 34]
dfinc1981NewMexico = dfinc1981[dfinc1981["STATEFIP"] == 35]
dfinc1981NewYork = dfinc1981[dfinc1981["STATEFIP"] == 36]
dfinc1981NorthCarolina = dfinc1981[dfinc1981["STATEFIP"] == 37]
dfinc1981NorthDakota = dfinc1981[dfinc1981["STATEFIP"] == 38]
dfinc1981Ohio = dfinc1981[dfinc1981["STATEFIP"] == 39]
dfinc1981Oklahoma = dfinc1981[dfinc1981["STATEFIP"] == 40]
dfinc1981Oregon = dfinc1981[dfinc1981["STATEFIP"] == 41]
dfinc1981Pennsylvania = dfinc1981[dfinc1981["STATEFIP"] == 42]
dfinc1981RhodeIsland = dfinc1981[dfinc1981["STATEFIP"] == 44]
dfinc1981SouthCarolina = dfinc1981[dfinc1981["STATEFIP"] == 45]
dfinc1981SouthDakota = dfinc1981[dfinc1981["STATEFIP"] == 46]
dfinc1981Tennessee = dfinc1981[dfinc1981["STATEFIP"] == 47]
dfinc1981Texas = dfinc1981[dfinc1981["STATEFIP"] == 48]
dfinc1981Utah = dfinc1981[dfinc1981["STATEFIP"] == 49]
dfinc1981Vermont = dfinc1981[dfinc1981["STATEFIP"] == 50]
dfinc1981Virginia = dfinc1981[dfinc1981["STATEFIP"] == 51]
dfinc1981Washington = dfinc1981[dfinc1981["STATEFIP"] == 53]
dfinc1981WestVirginia = dfinc1981[dfinc1981["STATEFIP"] == 54]
dfinc1981Wisconsin = dfinc1981[dfinc1981["STATEFIP"] == 55]
dfinc1981Wyoming = dfinc1981[dfinc1981["STATEFIP"] == 56]
dfinc1982Alabama = dfinc1982[dfinc1982["STATEFIP"] == 1]
dfinc1982Alaska = dfinc1982[dfinc1982["STATEFIP"] == 2]
dfinc1982Arizona = dfinc1982[dfinc1982["STATEFIP"] == 4]
dfinc1982Arkansas = dfinc1982[dfinc1982["STATEFIP"] == 5]
dfinc1982California = dfinc1982[dfinc1982["STATEFIP"] == 6]
dfinc1982Colorado = dfinc1982[dfinc1982["STATEFIP"] == 8]
dfinc1982Connecticut = dfinc1982[dfinc1982["STATEFIP"] == 9]
dfinc1982Delaware = dfinc1982[dfinc1982["STATEFIP"] == 10]
dfinc1982DC = dfinc1982[dfinc1982["STATEFIP"] == 11]
dfinc1982Florida = dfinc1982[dfinc1982["STATEFIP"] == 12]
dfinc1982Georgia = dfinc1982[dfinc1982["STATEFIP"] == 13]
dfinc1982Hawaii = dfinc1982[dfinc1982["STATEFIP"] == 15]
dfinc1982Idaho = dfinc1982[dfinc1982["STATEFIP"] == 16]
dfinc1982Illinois = dfinc1982[dfinc1982["STATEFIP"] == 17]
dfinc1982Indiana = dfinc1982[dfinc1982["STATEFIP"] == 18]
dfinc1982Iowa = dfinc1982[dfinc1982["STATEFIP"] == 19]
dfinc1982Kansas = dfinc1982[dfinc1982["STATEFIP"] == 20]
dfinc1982Kentucky = dfinc1982[dfinc1982["STATEFIP"] == 21]
dfinc1982Louisiana = dfinc1982[dfinc1982["STATEFIP"] == 22]
dfinc1982Maine = dfinc1982[dfinc1982["STATEFIP"] == 23]
dfinc1982Maryland = dfinc1982[dfinc1982["STATEFIP"] == 24]
dfinc1982Maryland = dfinc1982[dfinc1982["STATEFIP"] == 25]
dfinc1982Michigan = dfinc1982[dfinc1982["STATEFIP"] == 26]
dfinc1982Minnesota = dfinc1982[dfinc1982["STATEFIP"] == 27]
dfinc1982Mississippi = dfinc1982[dfinc1982["STATEFIP"] == 28]
dfinc1982Missouri = dfinc1982[dfinc1982["STATEFIP"] == 29]
dfinc1982Montana = dfinc1982[dfinc1982["STATEFIP"] == 30]
dfinc1982Nebraska = dfinc1982[dfinc1982["STATEFIP"] == 31]
dfinc1982Nevada = dfinc1982[dfinc1982["STATEFIP"] == 32]
dfinc1982NewHampshire = dfinc1982[dfinc1982["STATEFIP"] == 33]
dfinc1982NewJersey = dfinc1982[dfinc1982["STATEFIP"] == 34]
dfinc1982NewMexico = dfinc1982[dfinc1982["STATEFIP"] == 35]
dfinc1982NewYork = dfinc1982[dfinc1982["STATEFIP"] == 36]
dfinc1982NorthCarolina = dfinc1982[dfinc1982["STATEFIP"] == 37]
dfinc1982NorthDakota = dfinc1982[dfinc1982["STATEFIP"] == 38]
dfinc1982Ohio = dfinc1982[dfinc1982["STATEFIP"] == 39]
dfinc1982Oklahoma = dfinc1982[dfinc1982["STATEFIP"] == 40]
dfinc1982Oregon = dfinc1982[dfinc1982["STATEFIP"] == 41]
dfinc1982Pennsylvania = dfinc1982[dfinc1982["STATEFIP"] == 42]
dfinc1982RhodeIsland = dfinc1982[dfinc1982["STATEFIP"] == 44]
dfinc1982SouthCarolina = dfinc1982[dfinc1982["STATEFIP"] == 45]
dfinc1982SouthDakota = dfinc1982[dfinc1982["STATEFIP"] == 46]
dfinc1982Tennessee = dfinc1982[dfinc1982["STATEFIP"] == 47]
dfinc1982Texas = dfinc1982[dfinc1982["STATEFIP"] == 48]
dfinc1982Utah = dfinc1982[dfinc1982["STATEFIP"] == 49]
dfinc1982Vermont = dfinc1982[dfinc1982["STATEFIP"] == 50]
dfinc1982Virginia = dfinc1982[dfinc1982["STATEFIP"] == 51]
dfinc1982Washington = dfinc1982[dfinc1982["STATEFIP"] == 53]
dfinc1982WestVirginia = dfinc1982[dfinc1982["STATEFIP"] == 54]
dfinc1982Wisconsin = dfinc1982[dfinc1982["STATEFIP"] == 55]
dfinc1982Wyoming = dfinc1982[dfinc1982["STATEFIP"] == 56]
dfinc1983Alabama = dfinc1983[dfinc1983["STATEFIP"] == 1]
dfinc1983Alaska = dfinc1983[dfinc1983["STATEFIP"] == 2]
dfinc1983Arizona = dfinc1983[dfinc1983["STATEFIP"] == 4]
dfinc1983Arkansas = dfinc1983[dfinc1983["STATEFIP"] == 5]
dfinc1983California = dfinc1983[dfinc1983["STATEFIP"] == 6]
dfinc1983Colorado = dfinc1983[dfinc1983["STATEFIP"] == 8]
dfinc1983Connecticut = dfinc1983[dfinc1983["STATEFIP"] == 9]
dfinc1983Delaware = dfinc1983[dfinc1983["STATEFIP"] == 10]
dfinc1983DC = dfinc1983[dfinc1983["STATEFIP"] == 11]
dfinc1983Florida = dfinc1983[dfinc1983["STATEFIP"] == 12]
dfinc1983Georgia = dfinc1983[dfinc1983["STATEFIP"] == 13]
dfinc1983Hawaii = dfinc1983[dfinc1983["STATEFIP"] == 15]
dfinc1983Idaho = dfinc1983[dfinc1983["STATEFIP"] == 16]
dfinc1983Illinois = dfinc1983[dfinc1983["STATEFIP"] == 17]
dfinc1983Indiana = dfinc1983[dfinc1983["STATEFIP"] == 18]
dfinc1983Iowa = dfinc1983[dfinc1983["STATEFIP"] == 19]
dfinc1983Kansas = dfinc1983[dfinc1983["STATEFIP"] == 20]
dfinc1983Kentucky = dfinc1983[dfinc1983["STATEFIP"] == 21]
dfinc1983Louisiana = dfinc1983[dfinc1983["STATEFIP"] == 22]
dfinc1983Maine = dfinc1983[dfinc1983["STATEFIP"] == 23]
dfinc1983Maryland = dfinc1983[dfinc1983["STATEFIP"] == 24]
dfinc1983Maryland = dfinc1983[dfinc1983["STATEFIP"] == 25]
dfinc1983Michigan = dfinc1983[dfinc1983["STATEFIP"] == 26]
dfinc1983Minnesota = dfinc1983[dfinc1983["STATEFIP"] == 27]
dfinc1983Mississippi = dfinc1983[dfinc1983["STATEFIP"] == 28]
dfinc1983Missouri = dfinc1983[dfinc1983["STATEFIP"] == 29]
dfinc1983Montana = dfinc1983[dfinc1983["STATEFIP"] == 30]
dfinc1983Nebraska = dfinc1983[dfinc1983["STATEFIP"] == 31]
dfinc1983Nevada = dfinc1983[dfinc1983["STATEFIP"] == 32]
dfinc1983NewHampshire = dfinc1983[dfinc1983["STATEFIP"] == 33]
dfinc1983NewJersey = dfinc1983[dfinc1983["STATEFIP"] == 34]
dfinc1983NewMexico = dfinc1983[dfinc1983["STATEFIP"] == 35]
dfinc1983NewYork = dfinc1983[dfinc1983["STATEFIP"] == 36]
dfinc1983NorthCarolina = dfinc1983[dfinc1983["STATEFIP"] == 37]
dfinc1983NorthDakota = dfinc1983[dfinc1983["STATEFIP"] == 38]
dfinc1983Ohio = dfinc1983[dfinc1983["STATEFIP"] == 39]
dfinc1983Oklahoma = dfinc1983[dfinc1983["STATEFIP"] == 40]
dfinc1983Oregon = dfinc1983[dfinc1983["STATEFIP"] == 41]
dfinc1983Pennsylvania = dfinc1983[dfinc1983["STATEFIP"] == 42]
dfinc1983RhodeIsland = dfinc1983[dfinc1983["STATEFIP"] == 44]
dfinc1983SouthCarolina = dfinc1983[dfinc1983["STATEFIP"] == 45]
dfinc1983SouthDakota = dfinc1983[dfinc1983["STATEFIP"] == 46]
dfinc1983Tennessee = dfinc1983[dfinc1983["STATEFIP"] == 47]
dfinc1983Texas = dfinc1983[dfinc1983["STATEFIP"] == 48]
dfinc1983Utah = dfinc1983[dfinc1983["STATEFIP"] == 49]
dfinc1983Vermont = dfinc1983[dfinc1983["STATEFIP"] == 50]
dfinc1983Virginia = dfinc1983[dfinc1983["STATEFIP"] == 51]
dfinc1983Washington = dfinc1983[dfinc1983["STATEFIP"] == 53]
dfinc1983WestVirginia = dfinc1983[dfinc1983["STATEFIP"] == 54]
dfinc1983Wisconsin = dfinc1983[dfinc1983["STATEFIP"] == 55]
dfinc1983Wyoming = dfinc1983[dfinc1983["STATEFIP"] == 56]

In [19]:
dfrace1980Alabama = dfrace1980[dfrace1980["STATEFIP"] == 1]
dfrace1980Alaska = dfrace1980[dfrace1980["STATEFIP"] == 2]
dfrace1980Arizona = dfrace1980[dfrace1980["STATEFIP"] == 4]
dfrace1980Arkansas = dfrace1980[dfrace1980["STATEFIP"] == 5]
dfrace1980California = dfrace1980[dfrace1980["STATEFIP"] == 6]
dfrace1980Colorado = dfrace1980[dfrace1980["STATEFIP"] == 8]
dfrace1980Connecticut = dfrace1980[dfrace1980["STATEFIP"] == 9]
dfrace1980Delaware = dfrace1980[dfrace1980["STATEFIP"] == 10]
dfrace1980DC = dfrace1980[dfrace1980["STATEFIP"] == 11]
dfrace1980Florida = dfrace1980[dfrace1980["STATEFIP"] == 12]
dfrace1980Georgia = dfrace1980[dfrace1980["STATEFIP"] == 13]
dfrace1980Hawaii = dfrace1980[dfrace1980["STATEFIP"] == 15]
dfrace1980Idaho = dfrace1980[dfrace1980["STATEFIP"] == 16]
dfrace1980Illinois = dfrace1980[dfrace1980["STATEFIP"] == 17]
dfrace1980Indiana = dfrace1980[dfrace1980["STATEFIP"] == 18]
dfrace1980Iowa = dfrace1980[dfrace1980["STATEFIP"] == 19]
dfrace1980Kansas = dfrace1980[dfrace1980["STATEFIP"] == 20]
dfrace1980Kentucky = dfrace1980[dfrace1980["STATEFIP"] == 21]
dfrace1980Louisiana = dfrace1980[dfrace1980["STATEFIP"] == 22]
dfrace1980Maine = dfrace1980[dfrace1980["STATEFIP"] == 23]
dfrace1980Maryland = dfrace1980[dfrace1980["STATEFIP"] == 24]
dfrace1980Maryland = dfrace1980[dfrace1980["STATEFIP"] == 25]
dfrace1980Michigan = dfrace1980[dfrace1980["STATEFIP"] == 26]
dfrace1980Minnesota = dfrace1980[dfrace1980["STATEFIP"] == 27]
dfrace1980Mississippi = dfrace1980[dfrace1980["STATEFIP"] == 28]
dfrace1980Missouri = dfrace1980[dfrace1980["STATEFIP"] == 29]
dfrace1980Montana = dfrace1980[dfrace1980["STATEFIP"] == 30]
dfrace1980Nebraska = dfrace1980[dfrace1980["STATEFIP"] == 31]
dfrace1980Nevada = dfrace1980[dfrace1980["STATEFIP"] == 32]
dfrace1980NewHampshire = dfrace1980[dfrace1980["STATEFIP"] == 33]
dfrace1980NewJersey = dfrace1980[dfrace1980["STATEFIP"] == 34]
dfrace1980NewMexico = dfrace1980[dfrace1980["STATEFIP"] == 35]
dfrace1980NewYork = dfrace1980[dfrace1980["STATEFIP"] == 36]
dfrace1980NorthCarolina = dfrace1980[dfrace1980["STATEFIP"] == 37]
dfrace1980NorthDakota = dfrace1980[dfrace1980["STATEFIP"] == 38]
dfrace1980Ohio = dfrace1980[dfrace1980["STATEFIP"] == 39]
dfrace1980Oklahoma = dfrace1980[dfrace1980["STATEFIP"] == 40]
dfrace1980Oregon = dfrace1980[dfrace1980["STATEFIP"] == 41]
dfrace1980Pennsylvania = dfrace1980[dfrace1980["STATEFIP"] == 42]
dfrace1980RhodeIsland = dfrace1980[dfrace1980["STATEFIP"] == 44]
dfrace1980SouthCarolina = dfrace1980[dfrace1980["STATEFIP"] == 45]
dfrace1980SouthDakota = dfrace1980[dfrace1980["STATEFIP"] == 46]
dfrace1980Tennessee = dfrace1980[dfrace1980["STATEFIP"] == 47]
dfrace1980Texas = dfrace1980[dfrace1980["STATEFIP"] == 48]
dfrace1980Utah = dfrace1980[dfrace1980["STATEFIP"] == 49]
dfrace1980Vermont = dfrace1980[dfrace1980["STATEFIP"] == 50]
dfrace1980Virginia = dfrace1980[dfrace1980["STATEFIP"] == 51]
dfrace1980Washington = dfrace1980[dfrace1980["STATEFIP"] == 53]
dfrace1980WestVirginia = dfrace1980[dfrace1980["STATEFIP"] == 54]
dfrace1980Wisconsin = dfrace1980[dfrace1980["STATEFIP"] == 55]
dfrace1980Wyoming = dfrace1980[dfrace1980["STATEFIP"] == 56]
dfrace1981Alabama = dfrace1981[dfrace1981["STATEFIP"] == 1]
dfrace1981Alaska = dfrace1981[dfrace1981["STATEFIP"] == 2]
dfrace1981Arizona = dfrace1981[dfrace1981["STATEFIP"] == 4]
dfrace1981Arkansas = dfrace1981[dfrace1981["STATEFIP"] == 5]
dfrace1981California = dfrace1981[dfrace1981["STATEFIP"] == 6]
dfrace1981Colorado = dfrace1981[dfrace1981["STATEFIP"] == 8]
dfrace1981Connecticut = dfrace1981[dfrace1981["STATEFIP"] == 9]
dfrace1981Delaware = dfrace1981[dfrace1981["STATEFIP"] == 10]
dfrace1981DC = dfrace1981[dfrace1981["STATEFIP"] == 11]
dfrace1981Florida = dfrace1981[dfrace1981["STATEFIP"] == 12]
dfrace1981Georgia = dfrace1981[dfrace1981["STATEFIP"] == 13]
dfrace1981Hawaii = dfrace1981[dfrace1981["STATEFIP"] == 15]
dfrace1981Idaho = dfrace1981[dfrace1981["STATEFIP"] == 16]
dfrace1981Illinois = dfrace1981[dfrace1981["STATEFIP"] == 17]
dfrace1981Indiana = dfrace1981[dfrace1981["STATEFIP"] == 18]
dfrace1981Iowa = dfrace1981[dfrace1981["STATEFIP"] == 19]
dfrace1981Kansas = dfrace1981[dfrace1981["STATEFIP"] == 20]
dfrace1981Kentucky = dfrace1981[dfrace1981["STATEFIP"] == 21]
dfrace1981Louisiana = dfrace1981[dfrace1981["STATEFIP"] == 22]
dfrace1981Maine = dfrace1981[dfrace1981["STATEFIP"] == 23]
dfrace1981Maryland = dfrace1981[dfrace1981["STATEFIP"] == 24]
dfrace1981Maryland = dfrace1981[dfrace1981["STATEFIP"] == 25]
dfrace1981Michigan = dfrace1981[dfrace1981["STATEFIP"] == 26]
dfrace1981Minnesota = dfrace1981[dfrace1981["STATEFIP"] == 27]
dfrace1981Mississippi = dfrace1981[dfrace1981["STATEFIP"] == 28]
dfrace1981Missouri = dfrace1981[dfrace1981["STATEFIP"] == 29]
dfrace1981Montana = dfrace1981[dfrace1981["STATEFIP"] == 30]
dfrace1981Nebraska = dfrace1981[dfrace1981["STATEFIP"] == 31]
dfrace1981Nevada = dfrace1981[dfrace1981["STATEFIP"] == 32]
dfrace1981NewHampshire = dfrace1981[dfrace1981["STATEFIP"] == 33]
dfrace1981NewJersey = dfrace1981[dfrace1981["STATEFIP"] == 34]
dfrace1981NewMexico = dfrace1981[dfrace1981["STATEFIP"] == 35]
dfrace1981NewYork = dfrace1981[dfrace1981["STATEFIP"] == 36]
dfrace1981NorthCarolina = dfrace1981[dfrace1981["STATEFIP"] == 37]
dfrace1981NorthDakota = dfrace1981[dfrace1981["STATEFIP"] == 38]
dfrace1981Ohio = dfrace1981[dfrace1981["STATEFIP"] == 39]
dfrace1981Oklahoma = dfrace1981[dfrace1981["STATEFIP"] == 40]
dfrace1981Oregon = dfrace1981[dfrace1981["STATEFIP"] == 41]
dfrace1981Pennsylvania = dfrace1981[dfrace1981["STATEFIP"] == 42]
dfrace1981RhodeIsland = dfrace1981[dfrace1981["STATEFIP"] == 44]
dfrace1981SouthCarolina = dfrace1981[dfrace1981["STATEFIP"] == 45]
dfrace1981SouthDakota = dfrace1981[dfrace1981["STATEFIP"] == 46]
dfrace1981Tennessee = dfrace1981[dfrace1981["STATEFIP"] == 47]
dfrace1981Texas = dfrace1981[dfrace1981["STATEFIP"] == 48]
dfrace1981Utah = dfrace1981[dfrace1981["STATEFIP"] == 49]
dfrace1981Vermont = dfrace1981[dfrace1981["STATEFIP"] == 50]
dfrace1981Virginia = dfrace1981[dfrace1981["STATEFIP"] == 51]
dfrace1981Washington = dfrace1981[dfrace1981["STATEFIP"] == 53]
dfrace1981WestVirginia = dfrace1981[dfrace1981["STATEFIP"] == 54]
dfrace1981Wisconsin = dfrace1981[dfrace1981["STATEFIP"] == 55]
dfrace1981Wyoming = dfrace1981[dfrace1981["STATEFIP"] == 56]
dfrace1982Alabama = dfrace1982[dfrace1982["STATEFIP"] == 1]
dfrace1982Alaska = dfrace1982[dfrace1982["STATEFIP"] == 2]
dfrace1982Arizona = dfrace1982[dfrace1982["STATEFIP"] == 4]
dfrace1982Arkansas = dfrace1982[dfrace1982["STATEFIP"] == 5]
dfrace1982California = dfrace1982[dfrace1982["STATEFIP"] == 6]
dfrace1982Colorado = dfrace1982[dfrace1982["STATEFIP"] == 8]
dfrace1982Connecticut = dfrace1982[dfrace1982["STATEFIP"] == 9]
dfrace1982Delaware = dfrace1982[dfrace1982["STATEFIP"] == 10]
dfrace1982DC = dfrace1982[dfrace1982["STATEFIP"] == 11]
dfrace1982Florida = dfrace1982[dfrace1982["STATEFIP"] == 12]
dfrace1982Georgia = dfrace1982[dfrace1982["STATEFIP"] == 13]
dfrace1982Hawaii = dfrace1982[dfrace1982["STATEFIP"] == 15]
dfrace1982Idaho = dfrace1982[dfrace1982["STATEFIP"] == 16]
dfrace1982Illinois = dfrace1982[dfrace1982["STATEFIP"] == 17]
dfrace1982Indiana = dfrace1982[dfrace1982["STATEFIP"] == 18]
dfrace1982Iowa = dfrace1982[dfrace1982["STATEFIP"] == 19]
dfrace1982Kansas = dfrace1982[dfrace1982["STATEFIP"] == 20]
dfrace1982Kentucky = dfrace1982[dfrace1982["STATEFIP"] == 21]
dfrace1982Louisiana = dfrace1982[dfrace1982["STATEFIP"] == 22]
dfrace1982Maine = dfrace1982[dfrace1982["STATEFIP"] == 23]
dfrace1982Maryland = dfrace1982[dfrace1982["STATEFIP"] == 24]
dfrace1982Maryland = dfrace1982[dfrace1982["STATEFIP"] == 25]
dfrace1982Michigan = dfrace1982[dfrace1982["STATEFIP"] == 26]
dfrace1982Minnesota = dfrace1982[dfrace1982["STATEFIP"] == 27]
dfrace1982Mississippi = dfrace1982[dfrace1982["STATEFIP"] == 28]
dfrace1982Missouri = dfrace1982[dfrace1982["STATEFIP"] == 29]
dfrace1982Montana = dfrace1982[dfrace1982["STATEFIP"] == 30]
dfrace1982Nebraska = dfrace1982[dfrace1982["STATEFIP"] == 31]
dfrace1982Nevada = dfrace1982[dfrace1982["STATEFIP"] == 32]
dfrace1982NewHampshire = dfrace1982[dfrace1982["STATEFIP"] == 33]
dfrace1982NewJersey = dfrace1982[dfrace1982["STATEFIP"] == 34]
dfrace1982NewMexico = dfrace1982[dfrace1982["STATEFIP"] == 35]
dfrace1982NewYork = dfrace1982[dfrace1982["STATEFIP"] == 36]
dfrace1982NorthCarolina = dfrace1982[dfrace1982["STATEFIP"] == 37]
dfrace1982NorthDakota = dfrace1982[dfrace1982["STATEFIP"] == 38]
dfrace1982Ohio = dfrace1982[dfrace1982["STATEFIP"] == 39]
dfrace1982Oklahoma = dfrace1982[dfrace1982["STATEFIP"] == 40]
dfrace1982Oregon = dfrace1982[dfrace1982["STATEFIP"] == 41]
dfrace1982Pennsylvania = dfrace1982[dfrace1982["STATEFIP"] == 42]
dfrace1982RhodeIsland = dfrace1982[dfrace1982["STATEFIP"] == 44]
dfrace1982SouthCarolina = dfrace1982[dfrace1982["STATEFIP"] == 45]
dfrace1982SouthDakota = dfrace1982[dfrace1982["STATEFIP"] == 46]
dfrace1982Tennessee = dfrace1982[dfrace1982["STATEFIP"] == 47]
dfrace1982Texas = dfrace1982[dfrace1982["STATEFIP"] == 48]
dfrace1982Utah = dfrace1982[dfrace1982["STATEFIP"] == 49]
dfrace1982Vermont = dfrace1982[dfrace1982["STATEFIP"] == 50]
dfrace1982Virginia = dfrace1982[dfrace1982["STATEFIP"] == 51]
dfrace1982Washington = dfrace1982[dfrace1982["STATEFIP"] == 53]
dfrace1982WestVirginia = dfrace1982[dfrace1982["STATEFIP"] == 54]
dfrace1982Wisconsin = dfrace1982[dfrace1982["STATEFIP"] == 55]
dfrace1982Wyoming = dfrace1982[dfrace1982["STATEFIP"] == 56]
dfrace1983Alabama = dfrace1983[dfrace1983["STATEFIP"] == 1]
dfrace1983Alaska = dfrace1983[dfrace1983["STATEFIP"] == 2]
dfrace1983Arizona = dfrace1983[dfrace1983["STATEFIP"] == 4]
dfrace1983Arkansas = dfrace1983[dfrace1983["STATEFIP"] == 5]
dfrace1983California = dfrace1983[dfrace1983["STATEFIP"] == 6]
dfrace1983Colorado = dfrace1983[dfrace1983["STATEFIP"] == 8]
dfrace1983Connecticut = dfrace1983[dfrace1983["STATEFIP"] == 9]
dfrace1983Delaware = dfrace1983[dfrace1983["STATEFIP"] == 10]
dfrace1983DC = dfrace1983[dfrace1983["STATEFIP"] == 11]
dfrace1983Florida = dfrace1983[dfrace1983["STATEFIP"] == 12]
dfrace1983Georgia = dfrace1983[dfrace1983["STATEFIP"] == 13]
dfrace1983Hawaii = dfrace1983[dfrace1983["STATEFIP"] == 15]
dfrace1983Idaho = dfrace1983[dfrace1983["STATEFIP"] == 16]
dfrace1983Illinois = dfrace1983[dfrace1983["STATEFIP"] == 17]
dfrace1983Indiana = dfrace1983[dfrace1983["STATEFIP"] == 18]
dfrace1983Iowa = dfrace1983[dfrace1983["STATEFIP"] == 19]
dfrace1983Kansas = dfrace1983[dfrace1983["STATEFIP"] == 20]
dfrace1983Kentucky = dfrace1983[dfrace1983["STATEFIP"] == 21]
dfrace1983Louisiana = dfrace1983[dfrace1983["STATEFIP"] == 22]
dfrace1983Maine = dfrace1983[dfrace1983["STATEFIP"] == 23]
dfrace1983Maryland = dfrace1983[dfrace1983["STATEFIP"] == 24]
dfrace1983Maryland = dfrace1983[dfrace1983["STATEFIP"] == 25]
dfrace1983Michigan = dfrace1983[dfrace1983["STATEFIP"] == 26]
dfrace1983Minnesota = dfrace1983[dfrace1983["STATEFIP"] == 27]
dfrace1983Mississippi = dfrace1983[dfrace1983["STATEFIP"] == 28]
dfrace1983Missouri = dfrace1983[dfrace1983["STATEFIP"] == 29]
dfrace1983Montana = dfrace1983[dfrace1983["STATEFIP"] == 30]
dfrace1983Nebraska = dfrace1983[dfrace1983["STATEFIP"] == 31]
dfrace1983Nevada = dfrace1983[dfrace1983["STATEFIP"] == 32]
dfrace1983NewHampshire = dfrace1983[dfrace1983["STATEFIP"] == 33]
dfrace1983NewJersey = dfrace1983[dfrace1983["STATEFIP"] == 34]
dfrace1983NewMexico = dfrace1983[dfrace1983["STATEFIP"] == 35]
dfrace1983NewYork = dfrace1983[dfrace1983["STATEFIP"] == 36]
dfrace1983NorthCarolina = dfrace1983[dfrace1983["STATEFIP"] == 37]
dfrace1983NorthDakota = dfrace1983[dfrace1983["STATEFIP"] == 38]
dfrace1983Ohio = dfrace1983[dfrace1983["STATEFIP"] == 39]
dfrace1983Oklahoma = dfrace1983[dfrace1983["STATEFIP"] == 40]
dfrace1983Oregon = dfrace1983[dfrace1983["STATEFIP"] == 41]
dfrace1983Pennsylvania = dfrace1983[dfrace1983["STATEFIP"] == 42]
dfrace1983RhodeIsland = dfrace1983[dfrace1983["STATEFIP"] == 44]
dfrace1983SouthCarolina = dfrace1983[dfrace1983["STATEFIP"] == 45]
dfrace1983SouthDakota = dfrace1983[dfrace1983["STATEFIP"] == 46]
dfrace1983Tennessee = dfrace1983[dfrace1983["STATEFIP"] == 47]
dfrace1983Texas = dfrace1983[dfrace1983["STATEFIP"] == 48]
dfrace1983Utah = dfrace1983[dfrace1983["STATEFIP"] == 49]
dfrace1983Vermont = dfrace1983[dfrace1983["STATEFIP"] == 50]
dfrace1983Virginia = dfrace1983[dfrace1983["STATEFIP"] == 51]
dfrace1983Washington = dfrace1983[dfrace1983["STATEFIP"] == 53]
dfrace1983WestVirginia = dfrace1983[dfrace1983["STATEFIP"] == 54]
dfrace1983Wisconsin = dfrace1983[dfrace1983["STATEFIP"] == 55]
dfrace1983Wyoming = dfrace1983[dfrace1983["STATEFIP"] == 56]